<template name="footer">
	<footer>
	    <div class="container">
	        <div class="row">
	        	<div class="col-md-4">
	        		<ul>
	        			<li><a href="/create">Create Hackathon</a></li>
	        			<li><a href="/about">About</a></li>
	        			<li><a href="mailto:david@furlo.ng">Contact</a></li>
	        		</ul>
                </div>
	        </div>
	    </div>
	</footer>
    </template>

<template name="footer-garbage">
    <div class="col-md-4">
        <ul>
            <li>Press</li>
            <li>Terms</li>
            <li>Legal</li>
        </ul>
    </div>
    <div class="col-md-4">
        <h6>Copyright 2015, Hackermatch</h6>
    </div>
</template>

