<template name="footer">
	<footer>
	    <div class="container">
	        <div class="row">
	        	<div class="col-sm-4 col-xs-6 footer-left">
	        		<ul>
	        			<li><a href="/create">Create Hackathon</a></li>
	        			<li><a href="/about">About</a></li>
	        			<li><a href="mailto:david@furlo.ng">Contact</a></li>
	        		</ul>
                </div>
                <div class="col-sm-4 col-xs-6 footer-center">
                    <img src="/images/logo.png" style="height:70px;margin-top:-5px;margin-right:5px; display:inline">
                </div>
                <div class="col-sm-4 col-xs-12 footer-right">
                    <h6>Hacked together in Oxford & SF</h6>
                </div>
	        </div>
	    </div>
	</footer>
    </template>

<template name="footer-garbage">
    <div class="col-md-4">
        <ul>
            <li>Press</li>
            <li>Terms</li>
            <li>Legal</li>
        </ul>
    </div>
    <div class="col-md-4">
        <h6>Copyright 2015, Hackermatch</h6>
    </div>
</template>

