<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge"> 
    <meta name="viewport" content="width=device-width, initial-scale=1"> 
    <title>Hackermatch | Find hackathon teammates who share your interests & complement your skills</title>
    <meta name="title" content="Hackermatch">
    <meta name="description" content="Find hackathon team mates by discussing ideas. For hackers, by hackers, with <3. Made in San Francisco">
    <meta name="keywords" content="hacker match, hacker dating, hackathons, tools, humanity">
    <meta name="author" content="david furlong and adam williams">

    <link rel="shortcut icon" href="../favicon.ico?v=2">
    <link rel="stylesheet" type="text/css" href="/lib/normalize.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/component.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/main.css">
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <link rel="stylesheet" type="text/css" href="/stylesheets/profile.css">
</head>