<template name="nav">
	<nav class="navbar navbar-default">
	  <div class="container-fluid">
	    <div class="navbar-header">
	      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
	        <span class="sr-only">Toggle navigation</span>
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>
	      </button>
	      	<a class="navbar-brand" href="/">
	      		<img src="/images/logo.png" style="height:32px;margin-top:-5px;margin-right:5px; display:inline">
	      	hackermatch
        	</a>
        {{#if pageTitle}}
        <a class="navbar-brand navbar-pageTitle" href="/{{pageUrl}}">
	       / {{pageTitle}}	
        </a>
{{routeName}}
        {{/if}}

	    </div>

	    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
	      <ul class="nav navbar-nav">
	      	<!-- <li>
	      		<a href="">Hackers</a>
	      	</li>
	      	<li>
	      		<a href="">Hackathons</a>
	      	</li>
	      	<li>
	      		<a href="">Ideas</a>
	      	</li> -->

	      	<!-- <li>
	      		<a href="">Mentors</a>
	      	</li> -->

 		  </ul>
 		  	<!-- <form class="navbar-form navbar-left" role="search">
			  <div class="form-group">
			  	<input type="text" class="form-control" placeholder="Search">
			  </div>
		      <button type="submit" class="btn btn-default"><i class="ion ion-ios-search-strong"></i></button>
			</form> -->
	      <ul class="nav navbar-nav navbar-right">
	      {{#if currentUser}}
	      	<li class="dropdown">
	      		<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">My Hackathons <span class="caret"></span></a>
                <ul class="dropdown-menu" role="menu">
                    {{#if dataReady}}
	      			{{#each hackathons}}
	      			<li><a href="/{{url_title}}">{{title}}</a></li>
                    {{/each}}
                    {{/if}}
	      		</ul>
	      	</li>
	      	<li class="dropdown">
	      		<a id="notifications-trigger" href="#" class="dropdown-toggle {{#if hasUnread notifications }}has-notifications{{/if}}" data-toggle="dropdown" role="button" aria-expanded="false" >
	      	    <i class="fa fa-bell-o"></i> 
	      	    {{#if hasUnread notifications }}
	      	        <b>{{lenUnread notifications }}</b>
	      	    {{/if}}
	      	    </a>
	      	    <ul class="dropdown-menu" role="menu" id="notifications-dropdown">
	      	    	<span style="float:left">&nbsp;Notifications</span>
	      	    	<hr>
	      	    	{{#each sortNotifications notifications}}
	      	    	<li><a>{{{parseNotification .}}}</a></li>
	      	    	<hr>
	      	    	{{/each}}
	      	    </ul>
	      	</li>
	      	<li class="dropdown">
	      		<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="ion ion-person"></i> <span class="caret"></span></a>
				<ul class="dropdown-menu" role="menu">
					<li>
						<a id="settings-link" href="/settings">Settings</a>
					</li>
					<li>
						<a href="/profile/{{username}}">Profile</a>
					</li>
					<li>
						<a href="/logout">Logout</a>
					</li>
				</ul>
	      	</li> 
	      {{else}}
	      	<li><a href="" id="join-link">Join</a></li>
	      {{/if}}
	        <!-- <li class="dropdown">
				<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Dropdown <span class="caret"></span></a>
				<ul class="dropdown-menu" role="menu">
				{{> yield region='nav'}}
				    {{#if currentUser}}
				        <li>
				        	<a id="notifications-trigger">
				            <i class="fa fa-bell-o"></i>
				            {{#if has notifications}}
				                {{len notifications}}
				            {{/if}}
				            </a>
				        </li>
				        <li>
				        	<a id="settings-link" href="/settings"><i class="fa fa-cog" style="color:white"></i></a>
				        </li> 
				    {{/if}}
				    {{#if isInRole 'admin' 'all'}}
				    	<li>
				    		<a id="admin-link" href="/admin"><i class="fa fa-code"></i></a>
				    	</li>
				    {{/if}}
				</ul>
    	    </li> -->
	      </ul>
	    </div>
	  </div>
	</nav>
</template>
