
.filter_bar_text {
    float: left;
    padding-right: 15px;
}

.filter {
    float: left;
    padding-right: 15px;
}
.filter_text {
    cursor: pointer; cursor: hand; 
}

.selected {
    color: white;
}

.pt-page-1 {
    margin-top: 20px;
}

#settings {
    height: 100%;
    background: #7BA5FF;
}

.admin-view {
    background: rgb(255, 100, 100);
}
.profile {
    margin-top: 70px;
}

#join_hackathon_code::-webkit-input-placeholder {
   color: rgba(0,0,0,0.3);  
}

#join_hackathon_code {
	float: left;
}

.inl-flex {
	display: inline-flex;
}

#join_hackathon_code:-moz-placeholder { /* Firefox 18- */
   color: rgba(0,0,0,0.3);  
}

#join_hackathon_code::-moz-placeholder {  /* Firefox 19+ */
   color: rgba(0,0,0,0.3);  
}

#join_hackathon_code:-ms-input-placeholder {  
   color: rgba(0,0,0,0.3);  
}

.top-right-menu {
    font-weight: 600;
    margin-top: 9pt;
}
.top-right-menu a {
    font-size: 14pt !important;
}

#title-bar {
	background: rgba(70, 70, 70, 0.9) !important;
	position: fixed !important;
/*	border-bottom: 1px solid rgba(0, 0, 0, 0.1); */
   /* -moz-background-clip: padding;     
      -webkit-background-clip: padding;  
      background-clip: padding-box;    
    */
}

.invite-code::-moz-selection { /* Code for Firefox */
    color: white;
    background: black;
}
.invite-code::selection {
    color: white;
    background: black;
}

.admin-view {
    height: 100%;
/*    background: rgb(255, 132, 132);
*/}
.home-view {
    height: 100%;
    background: #69EE69;
/*    background: rgb(005, 182, 182);
*/}
.content-view {
    height: 100%;
    /* background: rgb(255, 132, 132); */
/*    background: #222;
*/}
.inner-view {
    margin: 0 auto;
    max-width: 1200px;
}
.view {
    height: 100%;
    padding: 20px;
}

.view label {
    font-size: 24px;
}

.view p {
    font-size: 20px;
}

/* Main form wrapper */

@font-face {
	font-family: 'ionicons';
	src:url('../ionicons-master/fonts/ionicons.eot') format('eot'),
		url('../ionicons-master/fonts/ionicons.woff') format('woff'),
		url('../ionicons-master/fonts/ionicons.ttf') format('truetype'),
		url('../ionicons-master/fonts/ionicons.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

* {
	-webkit-font-smoothing: antialiased;
	font-smoothing: antialiased;
}

.homepage-splash {
	width: auto;
	margin: 100px auto ;
}

.homepage-splash h1 {
	display: inline;
	padding-bottom: 30px;
	font-size: 50pt;
}

#splash {
	position: absolute;
	top: calc(50% - 60px);
	width: 100%;
	text-align: center;
	font-size: 30pt;
}

#splash-image {
	position: absolute;
	top: 40px;
	width: 100%;
}

#splash h1 {
	margin: 0;
}

.chunk {
	width: auto;
}

.manifesto p {
	font-size: 18pt;
	color: #eee;
	text-transform: uppercase;
	line-height: 30pt;
	text-align: justify;
}

.manifesto-title {
	font-family: 'Satisfy', cursive;
	text-align: center;
	font-size: 24pt;
	background: #3b3f45;
	position: relative;
	top: 8px;
	display: inline;
	padding: 0px 10px;
	color: #333;
}

.signup-button {
	font-size: 14px;
	font-weight: bold;
	text-transform: uppercase;
	color: rgba(256,256,256, 0.8);
	border: 2px solid rgba(256,256,256, 0.5);
	padding: 16px 32px;
	border-radius: 2px;
	background: rgba(256,256,256,0.05);
}

.signup-button:hover {
	border: 2px dashed rgba(256,256,256,0.5);
	background: rgba(256,256,256,0.1);
}

.messages {
	height: 300px;
}

.messages-threads {
	margin: 0;
	height: 100%;
	width: 20%;
	min-width: 200px;
	border-right: 1px solid white;
	list-style-type: none;
	padding: 0;
	float: left;
}

.message-input {
	width: 100%;
	border: 0;
	padding: 4px 0px;
	background: transparent;
	outline: none;
	color: white;
	font-size: 20pt;
	border-bottom: 1px dashed white;
	margin-bottom: 5px;
}

.message-input::-webkit-input-placeholder {
	color: white;
}

.message-input::-moz-placeholder { /* Firefox 18- */
	color: white;
}

.message-input:::-moz-placeholder {  /* Firefox 19+ */
	color: white;
}

.message-input::-ms-input-placeholder {  
   color: white;  
}

.messages-threads li {
	padding: 20px;
	margin: 0;
	width: 100%;
	cursor: pointer;
	text-align: right;
	border-top-left-radius: 50px;
	border-bottom-left-radius: 50px;
}

.messages-threads li.selected {
	background: rgba(256,256,256,0.2);
}

.messages-threads li.convo:hover {
	background: rgba(256,256,256,0.2);
}

.messages-content {
	margin-left: 20%;
	padding: 20px;
}

.messages-content div{
	width: 100%;
}

.messages-content .to {
	text-align: left;

}

.messages-content .from {
	text-align: right;
}

.settings-form, .hackathons-form {
	max-width: 600px;
	margin: 0px auto;
}

.settings-form > div, .hackathons-form > div {
	margin: 10px 0;
}

.settings-form label, .hackathons-form label {
	line-height: 50px;
}

.settings-form .github_username {
    margin-top: 30px;
}

.fs-form-overview .signup-button-container {
    height: 100%;
	height: 0;
}

.hackathons-form input {
	padding: 10px 21px;
	background: transparent;
	color: rgba(0,0,0,0.3);
	outline: none;
	border: 0;
	border-bottom: 1px dashed rgba(0,0,0,0.3);
}

.hackathons-form input:focus {
	color: rgba(0,0,0,0.5);
	border-bottom: 1px dashed rgba(0,0,0,0.5);
}

.settings-form input, .settings-form textarea {
	float: right;
	padding: 10px 21px;
	background: transparent;
	color: rgba(0,0,0,0.3);
	outline: none;
	border: 0;
	border-bottom: 1px dashed rgba(0,0,0,0.3);
}

.settings-form textarea {
	border: 1px dashed rgba(0,0,0,0.3);
	padding: 10px;
}

.settings-form textarea:focus {
	color: rgba(0,0,0,0.5);
	border: 1px dashed rgba(0,0,0,0.5);
}

.settings-form input:focus {
	color: rgba(0,0,0,0.5);
	border-bottom: 1px dashed rgba(0,0,0,0.5);
}

#update-user-form input[type="text"], #update-user-form textarea{
	width: 250px;
}

.settings-form input[type="submit"], .hackathons-form input[type="submit"] {
	font-weight: 700;
}

.view .ac-custom svg {
	margin-top: -25px;
}

.fixer-quick.ac-custom svg {
	margin-top: -32px;
}

#user_skills {
    height: 160px;
}

#logout:hover {
    color: rgba(0,0,0,0.3);
}

#profile-link:hover {
    color: rgba(0,0,0,0.3);
}

#profile-link {
	padding: 10px 20px;
	background: transparent;
	outline: none;
	border: 0;
	border-bottom: 1px dashed white;
	color: #fff;
	font-weight: 700;
    float: right;
}


#logout {
	padding: 10px 20px;
	background: transparent;
	outline: none;
	border: 0;
	border-bottom: 1px dashed white;
	color: #fff;
	font-weight: 700;
    float: right;
}


.row.item .item-action {
	padding: 0;
	width: 100px;
}

*, *:after, *:before { box-sizing: border-box; }
.clearfix:before, .clearfix:after { content: ''; display: table; }
.clearfix:after { clear: both; }

::selection {
  background: #ffb7b7; /* WebKit/Blink Browsers */
  color: white;
}
::-moz-selection {
  background: #ffb7b7; /* Gecko Browsers */
  color: white;
}

.fs-title-norm {
	position: relative;
	z-index: 1; /* needed for setting pseudo-element z-index */
	overflow: hidden;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
}

a.link-border {
	position: relative;
	display: inline-block;
	outline: none;
	color: #fd6a62;
	vertical-align: bottom;
	text-decoration: none;
	white-space: nowrap;
}

.hearted {
    color: #fd6a62 !important;
}

.ion-heart {
    color: white;
	cursor: pointer;
}

a.link-border::before,
a.link-border::after {
	pointer-events: none;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	-webkit-font-smoothing: antialiased;
	font-smoothing: antialiased;
}

a.link-border  {
	color: #fd6a62;
	font-weight: 500;
	-webkit-transition: -webkit-transform 0.2s;
	transition: transform 0.2s;
}

a.link-border:hover,
a.link-border:focus {
	-webkit-transform: scale(0.8333);
	transform: scale(0.8333);
}

a.link-border {
	width: auto;
}

a.link-border::before {
	position: absolute;
	top: 0px;
	left: 0px;
	box-sizing: content-box;
	padding: 0 0px;
	width: 100%;
	height: 100%;
	border: 2px solid #222;
	content: '';
	opacity: 0;
	-webkit-transition: opacity 0.2s, -webkit-transform 0.2s;
	transition: opacity 0.2s, transform 0.2s;
	-webkit-transform: scale(0.8333);
	transform: scale(0.8333);
}

#register-form {
    top: 400px;
}

#register-form .ac-custom label{
	color: rgba(0,0,0,0.3);
}

#register-form .ac-custom input[type="checkbox"]:checked + label {
	color: rgba(0,0,0,0.5);
}


a.link-border:hover::before,
a.link-border:focus::before {
	opacity: 1;
	-webkit-transform: scale(1.2);
	transform: scale(1.2);
}

.item-skills, .item-text {
	vertical-align: middle;
}

.item-text {
	display: inline-block !important;
	max-width: calc(100% - 200px);
}

.skill_tag {
    font-size: 14px;
    display: none;
}
.badge:before {
	content: '';
	height: 20px;
	border-radius: 20px;
	position: relative;
	top: 4px;
	left: -5px;
	display: inline-block;
	box-sizing: border-box;
}
.badge {
	box-sizing: border-box;
	padding: 2px 4px;
	text-transform: uppercase;
	font-size: 11pt;
}

.badge.t1, .badge.mobile {
	color: #fd6a62;
}

.badge.t2, .badge.hardware {
	color: #7bb7fa;
}

.badge.t3, .badge.backend {
	color: #60d7a9;
}

.badge.t4, .badge.design {
	color: #fdc162;
}

.badge.t5, .badge.webdev {
	color: #f68dbb;
}

.all-repos {
	overflow-y: auto;
}

.item-icon {
	cursor: pointer;
	border-radius: 50;
	height: 64px;
	overflow: hidden;
	vertical-align: top;
}

.fs-form-full {
    top: 25% !important;
}

.fs-form-wrap {
	position: relative;
	width: 100%;
	height: 100%;
	color: #fff;
}

#login-form {
	position: relative;
	top: 30%;
	text-align: center;
}

#login-form input {
	padding: 20px 20px;
	border: 0;
	outline: none;
	font-size: 20pt;
	width: 400px;
}
#login-email {
    margin-bottom: 5px;
}
#login-password {
    margin-bottom: 5px;
}

.row.label {
	font-size: 14pt;
	color: #8D8D8D;
	font-weight: 700;
	margin-top: 20px;
	padding-bottom: 10px;
	width: auto;
	border-bottom: 1px solid #333;
}

.row.label:first-child {
	margin-top: 0;
}

.row .item-action {
	font-size: 20pt;
	color: #888;
	text-align: center;
}

.row.item {
	padding: 0;
	padding-top: 10px;
	padding-bottom: 10px;
}

.row .item-heart {
	cursor: pointer;
	vertical-align: middle;
	position: relative;
	top: 5px;
}

.row .item-hearts {
	text-transform: uppercase;
	letter-spacing: 1px;
	font-weight: 700;
	font-size: 16pt;
    top: -10px;
    position: relative;
}

.row .item-title {
	cursor: pointer;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-weight: 700;
	font-size: 14pt;
}

.row .item-desc {
	cursor: pointer;
	color: #CCC;
	font-size: 14pt;
}


.row.item li {
	display: inline-table;
	padding: 0px 8px;
	list-style-type: none;
}

.row.item .item-desc {
	max-width: 60%;
}

.row.item li i, .row.item li div {
}


.row {
	margin: 0px;
}

.overview .fs-form-wrap {
	height: auto;
}

/* Title */
.fs-title {
	position: absolute;
	top: 0;
	left: 0;
	margin: 0;
	padding: 30px 40px 40px 40px;
	width: 100%;
}

.fs-title-norm {
	padding: 10px 40px 20px 40px;
	width: 600px;
	display: block;
	margin: 0;
}

.fs-title-norm h1 {
	width: 600px;
	margin: 0;
	display: inline;
}

.fs-title h1 {
	margin: 0;
}

/* Form */
.fs-form {
/*	position: relative;
*/	text-align: left;
	font-size: 2.5em;
}

.fs-form.idea {
	position: static;
	text-align: left;
}

.idea-list:hover {
	background: #121212;
	border-radius: 10px;
}

.no-js .fs-form {
	padding: 0 0 6em 0;
}

/* Views (fullscreen and overview)*/
.fs-form-full {
	top: 32%;
	margin: 100px auto;
	width: 70%;
}

.fs-form-full,
.fs-message-error {
	max-width: 960px;
}

.pt-page {

}

.fs-form-overview {
	padding: 2.5em 30% 6em;
	height: 100%;
	background: #fd6a62;
	color: #3b3f45;
	font-size: 1.2em;
}

.pt-page .fs-form-overview {
	background: transparent;
}

.fs-form-overview .fs-fields::before {
	display: block;
	margin-bottom: 2.5em;
	color: #3b3f45;
	content: 'Review & Submit';
	font-weight: 700;
	font-size: 1.85em;
}

/* Switch view animation (we hide the current view, switch the view class and show it again) */
.fs-form.fs-show {
	-webkit-animation: animFadeIn 0.5s;
	animation: animFadeIn 0.5s;
}

@-webkit-keyframes animFadeIn {
	0% { opacity: 0; }
	100% { opacity: 1; }
}

@keyframes animFadeIn {
	0% { opacity: 0; }
	100% { opacity: 1; }
}

.fs-form.fs-show .fs-fields {
	-webkit-animation: animMove 0.5s;
	animation: animMove 0.5s;
}

@-webkit-keyframes animMove {
	from { top: 100px; }
}

@keyframes animMove {
	from { top: 100px; }
} /* we need to use top here because otherwise all our fixed elements will become absolute */

/* Visibility control of elements */
.fs-form-full .fs-fields > li,
.fs-nav-dots, 
.fs-progress,
.fs-numbers,
button.fs-continue,
.fs-message-error,
.fs-message-final {
	visibility: hidden;
}

.no-js .fs-form-full .fs-fields > li {
	visibility: visible;
}

.fs-show {
	visibility: visible !important;
}

/* Some general styles */
.fs-form-wrap button {
	border: none;
	background: none;
}

.fs-form-wrap button[disabled] {
	opacity: 0.3;
	pointer-events: none;
}

.fs-form-wrap input:focus,
.fs-form-wrap button:focus {
	outline: none;
}

/* Hide the submit button */
.fs-form .fs-submit {
	display: none;
}

/* Fields */
.fs-fields {
	position: relative;
	margin: 0 auto;
	padding: 0;
	top: 0;
	list-style: none;
}

.fs-form-overview ol {
	max-width: 100%;
}

.fs-fields > li {
	position: relative;
	z-index: 1;
	margin: 0;
	padding: 0;
	border: none;
}

.fs-fields > li:hover {
	z-index: 999;
}

.js .fs-form-full .fs-fields > li {
	position: absolute;
	width: 100%;
}
#register-form.fs-form-full .fs-fields > li {
	position: relative;
}

.fs-form-overview .fs-fields > li,
.no-js .fs-form .fs-fields > li {
	margin: 1em 0 2em;
	padding: 0 0 2em 0;
	border-bottom: 2px solid rgba(0,0,0,0.1);
}

/* Labels & info */
.fs-fields > li label {
	position: relative;
}

.fs-fields > li label.fs-field-label {
	display: inline-block;
	padding: 0 5px 1em 0;
	font-weight: 700;
	pointer-events: none;
}

.fs-form-full .fs-fields > li label[data-info]::after {
	position: relative;
	display: inline-block;
	margin-left: 10px;
	width: 24px;
	height: 24px;
	border: 2px solid rgba(0,0,0,0.4);
	color: rgba(0,0,0,0.4);
	border-radius: 50%;
	content: 'i';
	vertical-align: top;
	text-align: center;
	font-weight: 700;
	font-style: italic;
	font-size: 14px;
	font-family: Georgia, serif;
	line-height: 20px;
	cursor: pointer;
	pointer-events: auto;
}

.fs-form-full .fs-fields > li label[data-info]::before {
    position: absolute;
    bottom: 100%;
   	left: 0;
    padding: 0 0 10px;
    min-width: 200px;
	content: attr(data-info);
	font-size: 0.4em;
	color: #6a7b7e;
    opacity: 0;
    -webkit-transition: opacity 0.3s, -webkit-transform 0.3s;
    transition: opacity 0.3s, transform 0.3s;
    -webkit-transform: translate3d(0,-5px,0);
    transform: translate3d(0,-5px,0);
    pointer-events: none;
}

.fs-form-full .fs-fields > li label[data-info]:hover::before {
    opacity: 1;
    -webkit-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
}

.fs-form-full .fs-fields > li label:hover ~ .fs-info,
.fs-form-full .fs-fields > li .fs-info:hover {
	opacity: 1;
	-webkit-transform: translateY(0);
	transform: translateY(0);
	pointer-events: auto;
}

/* Inputs */
.fs-fields input {
	display: block;
	margin: 0;
	padding: 0 0 0.15em;
	width: 100%;
	border: none;
	border-bottom: 2px solid rgba(0,0,0,0.2);
	background-color: transparent;
	color: #fffed8;
	text-overflow: ellipsis;
	font-weight: bold;
	font-size: 1.5em;
	border-radius: 0;
}

.fs-fields input:invalid {
	box-shadow: none; /* removes red shadow in FF*/
}

.fs-form-overview .fs-fields input {
	border-bottom-color: transparent;
	color: rgba(0,0,0,0.5);
}

.fs-fields [required] {
	background-image: url(../img/abacusstar.svg);
	background-position: top right;
	background-size: 18px;
	background-repeat: no-repeat;
}

.fs-fields input:focus {
	background-color: transparent; /* Fixes chrome bug with placeholder */
}

.fs-fields.signup input:focus {
	background-color: transparent; /* Fixes chrome bug with placeholder */
}

.fs-form-overview .fs-fields input:focus {
	background-color: transparent; /* Fixes chrome bug with placeholder */
}

.fs-form-overview .fs-fields input {
	font-size: 1.2em;
}

.fs-fields .fs-radio-custom input[type="radio"] {
	position: absolute;
	display: block;
	margin: 30px auto 20px;
	margin: 0 auto 20px;
	width: 100%;
	height: 100%;
	opacity: 0;
	cursor: pointer;
}

.fs-fields > li .fs-radio-custom span {
	float: left;
	position: relative;
	margin-right: 3%;
	padding: 10px;
	max-width: 200px;
	width: 14%;
	text-align: center;
	font-weight: 700;
	font-size: 50%;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.fs-fields > li .fs-radio-custom span label {
	color: rgba(0,0,0,0.4);
	-webkit-transition: color 0.3s;
	transition: color 0.3s;
}

.fs-form-overview .fs-fields > li .fs-radio-custom span {
	max-width: 140px;
}

.fs-form-overview .fs-fields > li .fs-radio-custom span {
	font-size: 75%;
}

.fs-fields > li .fs-radio-custom label {
	display: block;
	padding-top: 100%;
	width: 100%;
	height: 100%;
	cursor: pointer;
}

.fs-fields .fs-radio-custom label::after {
	position: absolute;
	top: 50%;
	left: 50%;
	width: 100%;
	height: 100%;
	background-position: 50% 0%;
	background-size: 85%;
	background-repeat: no-repeat;
	content: '';
	opacity: 0.5;
	-webkit-transition: opacity 0.2s;
	transition: opacity 0.2s;
	-webkit-transform: translate(-50%,-50%);
	transform: translate(-50%,-50%);
}

.fs-fields .fs-radio-custom label.radio-mobile::after {
	background-image: url(../img/mobile.svg);
}

.fs-fields .fs-radio-custom label.radio-social::after {
	background-image: url(../img/social.svg);
}

.fs-fields .fs-radio-custom label.radio-conversion::after {
	background-image: url(../img/conversion.svg);
}

.fs-fields .fs-radio-custom label:hover::after,
.fs-fields input[type="radio"]:focus + label::after,
.fs-fields input[type="radio"]:checked + label::after {
	opacity: 1;
}

.fs-fields .fs-radio-custom input[type="radio"]:checked + label {
	color: #fffed8;
}

.fs-form-overview .fs-fields .fs-radio-custom input[type="radio"]:checked + label {
	color: rgba(0,0,0,0.8);
}

.fs-fields textarea {
	padding: 0.25em;
	width: 100%;
	height: 200px;
	border: 2px solid rgba(0,0,0,0.2);
	background-color: transparent;
	color: #fffed8;
	font-weight: 700;
	font-size: 0.85em;
	resize: none;
}

.fs-form-overview .fs-fields textarea {
	height: 100px;
	color: rgba(0,0,0,0.5);
}

.fs-fields textarea:focus {
	outline: none;
}

.fs-form-overview .fs-fields textarea {
	padding: 0;
	border-color: transparent;
}

.fs-form-overview .fs-fields textarea:focus {
	background: #fffed8;
}

.fs-form div.cs-select.cs-skin-boxes {
	display: block;
}

.fs-form-overview .cs-skin-boxes > span {
	border-radius: 5px;
	width: 90px;
	height: 70px;
	font-size: 0.8em;
}

.fs-form-overview .cs-skin-boxes > span::before {
	padding-top: 50px;
	box-shadow: 0 20px 0 #292c30, inset 0 -5px #292c30;
}

.fs-fields input.fs-mark {
	padding-left: 1em;
	background-image: url(../img/dollar.svg);
	background-position: 0% 0.15em;
	background-size: auto 75%;
	background-repeat: no-repeat;
}

.fs-fields input.fs-mark[required] {
	background-image: url(../img/dollar.svg), url(../img/abacusstar.svg);
	background-position: 0% 0.15em, top right;
	background-size: auto 75%, 18px;
	background-repeat: no-repeat;
}

/* placeholder */
.fs-fields input::-webkit-input-placeholder,
.fs-fields textarea::-webkit-input-placeholder {
	color: rgba(0,0,0,0.1);
}

.fs-fields input:-moz-placeholder,
.fs-fields textarea:-moz-placeholder {
	color: rgba(0,0,0,0.1);
}

.fs-fields input::-moz-placeholder,
.fs-fields textarea::-moz-placeholder {
	color: rgba(0,0,0,0.1);
}

.fs-fields input:-ms-input-placeholder,
.fs-fields textarea:-ms-input-placeholder {
	color: rgba(0,0,0,0.1);
}

/* Hide placeholder when focused in Webkit browsers */
.fs-fields input:focus::-webkit-input-placeholder {
	color: transparent;
}

/* Dot navigation */
.fs-nav-dots {
	position: absolute;
	top: 50%;
	right: 60px;
	left: auto;
	-webkit-transform: translateY(-50%);
	transform: translateY(-50%);
}

.fs-nav-dots button {
	position: relative;
	display: block;
	padding: 0;
	margin: 16px 0;
	width: 16px;
	height: 16px;
	border-radius: 50%;
	background: transparent;
	-webkit-transition: -webkit-transform 0.3s ease, opacity 0.3s ease;
	transition: transform 0.3s ease, opacity 0.3s ease;
}

.fs-nav-dots button::before,
.fs-nav-dots button::after {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	border-radius: 50%;
	background-color: rgba(0,0,0,0.5);
	content: '';
	text-indent: 0;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
}

.fs-nav-dots button::after {
	background-color: rgba(0,0,0,0.4);
	-webkit-transform: perspective(1000px) rotate3d(0,1,0,180deg);
	transform: perspective(1000px) rotate3d(0,1,0,180deg);
}

.fs-nav-dots button.fs-dot-current {
	-webkit-transform: perspective(1000px) rotate3d(0,1,0,180deg);
	transform: perspective(1000px) rotate3d(0,1,0,180deg);
}

.fs-nav-dots button:hover::before,
.fs-nav-dots button.fs-dot-current::before {
	background: #fffed8;
}

/* Progress bar */
.fs-progress {
	position: absolute;
	top: 0;
	width: 0%;
	height: 0.5em;
	background: #fffed8;
	-webkit-transition: width 0.3s ease-in-out;
	transition: width 0.3s ease-in-out;
}

/* Number indicator */
.fs-numbers {
	position: absolute;
	top: 0;
	right: 0;
	overflow: hidden;
	color: rgba(0,0,0,0.4);
	margin: 40px;
	width: 2em;
	font-weight: 700;
	font-size: 2em;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	cursor: default;
}

.fs-numbers:after {
	position: absolute;
	width: 100%;
	text-align: center;
	content: '/';
	font-weight: 300;
	opacity: 0.4;
	left: 0;
}

.fs-numbers span {
	float: right;
	width: 40%;
	text-align: center;
}

.fs-numbers .fs-number-current {
	float: left;
}

.fs-numbers .fs-number-new {
	position: absolute;
	left: 0;
	-webkit-transform: translateY(100%);
	transform: translateY(100%);
}

/* Animations for numbers */
/* Show next number */
.fs-numbers.fs-show-next .fs-number-new {
	-webkit-animation: animMoveUpFromDown 0.4s both;
	animation: animMoveUpFromDown 0.4s both;
}

@-webkit-keyframes animMoveUpFromDown {
	from { -webkit-transform: translateY(100%); }
	to { -webkit-transform: translateY(0); }
}

@keyframes animMoveUpFromDown {
	from { -webkit-transform: translateY(100%); transform: translateY(100%); }
	to { -webkit-transform: translateY(0); transform: translateY(0); }
}

.fs-numbers.fs-show-next .fs-number-current {
	-webkit-animation: animMoveUp 0.4s both;
	animation: animMoveUp 0.4s both;
}

@-webkit-keyframes animMoveUp {
	to { -webkit-transform: translateY(-100%); }
}

@keyframes animMoveUp {
	to { -webkit-transform: translateY(-100%); transform: translateY(-100%); }
}

/* Show previous number */
.fs-numbers.fs-show-prev .fs-number-new {
	-webkit-animation: animMoveDownFromUp 0.4s both;
	animation: animMoveDownFromUp 0.4s both;
}

@-webkit-keyframes animMoveDownFromUp {
	from { -webkit-transform: translateY(-100%); }
	to { -webkit-transform: translateY(0); }
}

@keyframes animMoveDownFromUp {
	from { -webkit-transform: translateY(-100%); transform: translateY(-100%); }
	to { -webkit-transform: translateY(0); transform: translateY(0); }
}

.fs-numbers.fs-show-prev .fs-number-current {
	-webkit-animation: animMoveDown 0.4s both;
	animation: animMoveDown 0.4s both;
}

@-webkit-keyframes animMoveDown {
	to { -webkit-transform: translateY(100%); }
}

@keyframes animMoveDown {
	to { -webkit-transform: translateY(100%); transform: translateY(100%); }
}

/* Continue button and submit button */
button.fs-submit,
button.fs-continue {
	padding: 0.6em 1.5em;
	border: 3px solid #232529;
	border-radius: 40px;
	font-weight: 700;
	color: rgba(0,0,0,0.4);
}

.fs-form-overview .fs-submit,
.no-js .fs-form .fs-submit  {
	display: block;
	float: right;
}

.fs-form-overview .fs-submit {
	border-color: #232529;
	color: #232529;
}

button.fs-continue {
	position: absolute;
	right: 0;
	bottom: 0;
	margin: 0 40px 60px 0;
	font-size: 1.25em;
}

button.fs-submit:hover,
button.fs-submit:focus,
button.fs-continue:hover {
	background: #232529;
	color: #fff;
}

.fs-continue::after {
	position: absolute;
	top: 100%;
	left: 0;
	width: 100%;
	line-height: 3;
	text-align: center;
	background: transparent;
	color: rgba(0,0,0,0.3);
/*	content: 'or press ENTER'; */
	font-size: 0.65em;
	pointer-events: none;
}

/* Error message */
.fs-message-error {
	position: absolute;
	bottom: 75%;
	left: 50%;
	z-index: 800;
	max-width: 960px;
	width: 70%;
	color: #eb7e7f;
	font-weight: 700;
	font-size: 1em;
	opacity: 0;
	-webkit-transform: translate3d(-50%,-5px,0);
	transform: translate3d(-50%,-5px,0);
}

.fs-message-error.fs-show {
	opacity: 1;
	-webkit-transition: -webkit-transform 0.3s, opacity 0.3s;
	transition: transform 0.3s, opacity 0.3s;
	-webkit-transform: translate3d(-50%,0,0);
	transform: translate3d(-50%,0,0);
}

/* Animation classes & animations */
.fs-form li.fs-current {
	visibility: visible;
}

.fs-form li.fs-hide,
.fs-form li.fs-show {
	pointer-events: none;
}

/* Hide current li when navigating to next question */
.fs-form .fs-display-next .fs-hide {
	visibility: visible;
}

.fs-form .fs-display-next .fs-hide .fs-anim-lower,
.fs-form .fs-display-next .fs-hide .fs-anim-upper {
	-webkit-animation: animHideNext 0.5s cubic-bezier(0.7,0,0.3,1) forwards;
	animation: animHideNext 0.5s cubic-bezier(0.7,0,0.3,1) forwards;
}

.fs-form .fs-display-next .fs-hide .fs-anim-lower {
	-webkit-animation-delay: 0.1s;
	animation-delay: 0.1s;
}

@-webkit-keyframes animHideNext {
	to { opacity: 0; -webkit-transform: translate3d(0,-500px,0); }
}

@keyframes animHideNext {
	to { opacity: 0; -webkit-transform: translate3d(0,-500px,0); transform: translate3d(0,-500px,0); }
}

/* Show new li when navigating to next question */
.fs-form .fs-display-next .fs-show .fs-anim-lower,
.fs-form .fs-display-next .fs-show .fs-anim-upper {
	-webkit-animation: animShowNext 0.5s cubic-bezier(0.7,0,0.3,1) both 0.15s;
	animation: animShowNext 0.5s cubic-bezier(0.7,0,0.3,1) both 0.15s;
}

.fs-form .fs-display-next .fs-show .fs-anim-lower {
	-webkit-animation-delay: 0.25s;
	animation-delay: 0.25s;
}

@-webkit-keyframes animShowNext {
	from { opacity: 0; -webkit-transform: translate3d(0,500px,0); }
}

@keyframes animShowNext {
	from { opacity: 0; -webkit-transform: translate3d(0,500px,0); transform: translate3d(0,500px,0); }
}

/* Hide current li when navigating to previous question */
.fs-form .fs-display-prev .fs-hide {
	visibility: visible;
}

.fs-form .fs-display-prev .fs-hide .fs-anim-lower,
.fs-form .fs-display-prev .fs-hide .fs-anim-upper {
	-webkit-animation: animHidePrev 0.5s cubic-bezier(0.7,0,0.3,1) forwards;
	animation: animHidePrev 0.5s cubic-bezier(0.7,0,0.3,1) forwards;
}

.fs-form .fs-display-prev .fs-hide .fs-anim-upper {
	-webkit-animation-delay: 0.1s;
	animation-delay: 0.1s;
}

@-webkit-keyframes animHidePrev {
	to { opacity: 0; -webkit-transform: translate3d(0,500px,0); }
}

@keyframes animHidePrev {
	to { opacity: 0; -webkit-transform: translate3d(0,500px,0); transform: translate3d(0,500px,0); }
}

/* Show new li when navigating to previous question */
.fs-form .fs-display-prev .fs-show .fs-anim-lower,
.fs-form .fs-display-prev .fs-show .fs-anim-upper {
	-webkit-animation: animShowPrev 0.5s cubic-bezier(0.7,0,0.3,1) both 0.15s;
	animation: animShowPrev 0.5s cubic-bezier(0.7,0,0.3,1) both 0.15s;
}

.fs-form .fs-display-prev .fs-show .fs-anim-upper {
	-webkit-animation-delay: 0.25s;
	animation-delay: 0.25s;
}

@-webkit-keyframes animShowPrev {
	from { opacity: 0; -webkit-transform: translate3d(0,-500px,0); }
}

@keyframes animShowPrev {
	from { opacity: 0; -webkit-transform: translate3d(0,-500px,0); transform: translate3d(0,-500px,0); }
}

/* Remove IE clear cross */
input[type=text]::-ms-clear {
    display: none;
}

/* Adjust form for smaller screens */
@media screen and (max-width: 52.5em) {
	body {
		min-height: 500px;
	}

	.fs-form-wrap {
		font-size: 70%;
	}

	.fs-form {
		top: 6em;
		right: 2em;
		left: 0;
		padding: 0 3.75em 0 1em;
		width: auto;
		font-size: 2em;
	}

	.fs-form.fs-form-overview {
		top: 0;
		right: 0;
		padding: 1.5em 1em 8em 1em;
		font-size: 1.5em;
	}

	.fs-title {
		padding: 20px;
	}

	.fs-numbers {
		margin: 20px;
	}

	.fs-nav-dots {
		right: 25px;
	}

	button.fs-continue {
		right: 20px;
		bottom: 20px;
		margin: 0;
		padding: 50px 0 0 50px;
		width: 50px;
		height: 50px;
		border-radius: 50%;
		font-size: 2em;
	}

	button.fs-continue::before {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		content: '\27A1';
		text-align: center;
		font-size: 1em;
		line-height: 50px;
	}

	.fs-continue::after {
		content: '';
	}

	button.fs-submit {
		width: 100%;
		font-size: 1.25em;
	}

	.fs-message-error {
		bottom: 1.75em;
		left: 0;
		padding: 0 90px 0 2em;
		width: 100%;
		font-size: 1.5em;
		-webkit-transform: translate3d(0,-5px,0);
		transform: translate3d(0,-5px,0);
	}

	.fs-message-error.fs-show {
		-webkit-transform: translate3d(0,0,0);
		transform: translate3d(0,0,0);
	}
}


.pt-perspective {
	position: relative;
	width: 100%;
	height: 100%;
	-webkit-perspective: 1200px;
	-moz-perspective: 1200px;
	perspective: 1200px;
}

.pt-page {
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
	visibility: hidden;
	-webkit-backface-visibility: hidden;
	-moz-backface-visibility: hidden;
	backface-visibility: hidden;
	-webkit-transform: translate3d(0, 0, 0);
	-moz-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
	-webkit-transform-style: preserve-3d;
	-moz-transform-style: preserve-3d;
	transform-style: preserve-3d;
	padding: 40px;
	font-size: 16pt;
}

.pt-page-current,
.no-js .pt-page {
	visibility: visible;
	z-index: 1;
}

.fs-controls {
	height: 600px;
}

.no-js body {
	overflow: auto;
}

.pt-page-ontop {
	z-index: 999;
}

/*.pt-page {
	top: -120px;
	padding-top: 120px;
}*/


.pt-page-1 {
	background: #fd6a62;
	background: #222;
}

.pt-page-2 {
	background: #7bb7fa;
}

.pt-page-3 {
	background: #9C61F3;
}

.pt-page-4 {
	background: #f5454b;
}

.pt-page-5 {
	background: #fd6a62;
}

.pt-page-6 {
	background: #f68dbb;
}

/* Button 7 */
.btn-7 {
	background: #17aa56;
	color: #fff;
	border-radius: 7px;
}

/* Icon only style */
.btn-icon-only {
	font-size: 0;
}

.btn-icon-only:before {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	font-size: 26px;
	line-height: 54px;
	-webkit-backface-visibility: hidden;
	-moz-backface-visibility: hidden;
	backface-visibility: hidden;
}

/* Button 7f */
.btn-7f:before {
}
.btn-7f:after {
	position: absolute;
	width: 100%;
	height: 100%;
	left: 0;
	top: -67px;
	z-index: 1;
	font-size: 28px;
	line-height: 28px;
	color: #fd6a62;
	visibility: hidden;
	-webkit-transform: scale(4);
	-moz-transform: scale(4);
	-ms-transform: scale(4);
	transform: scale(4);
	opacity: 0;
	-webkit-transition: none;
	-moz-transition: none;
	transition: none;
}

.btn-7f.btn-activated:after {
	visibility: visible;
	-webkit-animation: dropDown 0.3s forwards;
	-moz-animation: dropDown 0.3s forwards;
	animation: dropDown 0.3s forwards;
} 

@-webkit-keyframes dropDown {
	to { 
		opacity: 1;
		-webkit-transform: scale(1);
	}
}

@-moz-keyframes dropDown {
	to { 
		opacity: 1;
		-moz-transform: scale(1);
	}
}

@keyframes dropDown {
	to { 
		opacity: 1;
		transform: scale(1);
	}
}


.btn:before,
.icon-star:after
 {
	font-family: 'ionicons';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	position: relative;
	-webkit-font-smoothing: antialiased;
}

.ion-person:before {
    content: "\f213";
}
.icon-star:before {
	content: "\f141";
}

.icon-star:after {
	content: "\f141";
}

/* checkboxes */


.ac-custom h2 {
	font-size: 1em;
	font-weight: 300;
	padding: 0 0 0.5em;
	margin: 0 0 30px;
}

.ac-custom ul,
.ac-custom ol {
	list-style: none;
	padding: 0;
	margin: 0 auto;
	max-width: 800px;
}

.ac-custom li {
	margin: 0 auto;
	padding: 0 0;
	position: relative;
	height: 60px;
    width: 250px;
    float: left;
}

.ac-custom label {
	display: inline-block;
	position: relative;
	font-size: 20pt;
	padding: 0 0 0 60px;
	vertical-align: top;
	color: rgba(0,0,0,0.3);
	cursor: pointer;
	-webkit-transition: color 0.3s;
	transition: color 0.3s;
}

.ac-custom input[type="checkbox"],
.ac-custom input[type="radio"],
.ac-custom label::before {
	width: 50px;
	height: 50px;
	top: 50%;
	left: 0;
	margin-top: -25px;
	position: absolute;
	cursor: pointer;
}

.ac-custom input[type="checkbox"],
.ac-custom input[type="radio"] {
	opacity: 0;
	-webkit-appearance: none;
	display: inline-block;
	vertical-align: middle;
	z-index: 100;
}

.ac-custom label::before {
	content: '';
	border: 4px solid #fff;
	-webkit-transition: opacity 0.3s;
	transition: opacity 0.3s;
}

.ac-radio label::before {
	border-radius: 50%;
}

.ac-custom input[type="checkbox"]:checked + label,
.ac-custom input[type="radio"]:checked + label {
	color: rgba(0,0,0,0.5);
} 

.ac-custom input[type="checkbox"]:checked + label::before,
.ac-custom input[type="radio"]:checked + label::before {
	opacity: 0.8;
}

/* General SVG and path styles */

.ac-custom svg {
	position: absolute;
	width: 40px;
	height: 40px;
	top: 50%;
	margin-top: -32px;
	left: 5px;
	pointer-events: none;
}

#fs-form-wrap-sign-up {
	background: #3D4675;
}

.ac-custom svg path {
	stroke: #fdfcd3;
	stroke-width: 13px;
	stroke-linecap: round;
	stroke-linejoin: round;
	fill: none;
}

.ac-custom {
	list-style-type: none;
}

.idea .fs-progress {
	display: none !important;
	visibility: hidden !important;
	background: transparent;
}

.idea .fs-numbers {
	margin: 5px 40px;
}

.sidebar {
	position: fixed;
	right: 0px;
	z-index: 99999;
	top: 0px;
	height: 100%;
	width: 50%;
	background: rgba(256,256,256,1);
	color: black;
	padding: 20px 40px 20px 40px;
}

.profile_sidebar {
	position: fixed;
	left: 0px;
	z-index: 99999;
	top: 0px;
	height: 100%;
	width: 400px;
	background: rgba(256,256,256,1);
	color: black;
	padding: 0px 40px 20px 40px;
}

.sidebar-item-title h1 {
	margin-bottom: 0;
	padding-bottom: 0;
}

.sidebar-item-author {
	color: #777;
	margin-bottom: 20px;
}
.sidebar-item-contact {
	color: #777;
	margin-top: 10px;
	margin-bottom: 20px;
}
.sidebar-prompt {
	color: #777;
}
.sidebar-item-desc {
    font-size: 28px;
    padding-bottom: 15px;
}

.sidebar input {
	padding: 15px 20px;
	font-size: 20px;
	outline: none;
	border: 1px solid #bbb;
	margin: 0;
}

.sidebar input[type="submit"] {
	background: #efefef;
	border-left: 0;
}

.sidebar input[type="submit"]:hover {
	background: #dedede;
}

#comment-text {
	width: calc(100% - 128px);
}

#comment-create {
	display: inline-flex;
	width: 100%;
}

.comment-author {
	font-size: 16pt;
	color: #777;
	margin-left: 20px;
}

.comment-time {
	color: #777;
	font-size: 11pt;
	float: right;
	margin-top: 23px;
}

.sidebar h1 {
	margin-top: 5px;
}

.sidebar-author .comment-avatar img {
	margin-top: 0;
}

.sidebar-author.comment .comment-author {
	font-size: 15px;
}

.sidebar-author.comment {
	margin-top: 10px;
	border: 0;
}

.comment-avatar img {
	position: relative;
	margin-top: 20px;
}

.comment-skills {

}

.comment-content {
	margin-left:75px;
	float: left;
	display: inline;
}

.comment {
	display: inline-block;
	margin-top: 20px;
	margin-bottom: 10px;
	border-top: 1px solid #efefef;
	width: 100%;
}

.blur {
	/*-webkit-transition: all 0.25s cubic-bezier(0.600, 0.040, 0.980, 0.335);
	transition: all 0.25s cubic-bezier(0.600, 0.040, 0.980, 0.335);*/
	-webkit-filter: blur(10px);
}

#pt-main.blur .item-icon, #pt-main.blur .item-title, #pt-main.blur .item-desc {	
	cursor: default !important;
}


@media (max-width: 650px) {
  .brand {
  	display: none;
  }
  .brand:before {
  	content: '<img src="icon.png" height="40px" class="brand-icon">';
  }
}
