.messages {
	height: 300px;
}

.messages-threads {
	margin: 0;
	height: 100%;
	width: 20%;
	min-width: 200px;
	border-right: 1px solid white;
	list-style-type: none;
	padding: 0;
	float: left;
}

.message-input {
	width: 100%;
	border: 0;
	padding: 4px 0px;
	background: transparent;
	outline: none;
	color: white;
	font-size: 20pt;
	border-bottom: 1px dashed white;
	margin-bottom: 5px;
}

.message-input::-webkit-input-placeholder {
	color: white;
}

.message-input::-moz-placeholder { /* Firefox 18- */
	color: white;
}

.message-input:::-moz-placeholder {  /* Firefox 19+ */
	color: white;
}

.message-input::-ms-input-placeholder {  
   color: white;  
}

.messages-threads li {
	padding: 20px;
	margin: 0;
	width: 100%;
	cursor: pointer;
	text-align: right;
	border-top-left-radius: 50px;
	border-bottom-left-radius: 50px;
}

.messages-threads li.selected {
	background: rgba(256,256,256,0.2);
}

.messages-threads li.convo:hover {
	background: rgba(256,256,256,0.2);
}

.messages-content {
	margin-left: 20%;
	padding: 20px;
}

.messages-content div{
	width: 100%;
}

.messages-content .to {
	text-align: left;

}

.messages-content .from {
	text-align: right;
}

#user_skills {
    height: 160px;
}


*, *:after, *:before { box-sizing: border-box; }
.clearfix:before, .clearfix:after { content: ''; display: table; }
.clearfix:after { clear: both; }

::selection {
  background: #ffb7b7; /* WebKit/Blink Browsers */
  color: white;
}
::-moz-selection {
  background: #ffb7b7; /* Gecko Browsers */
  color: white;
}

.fs-title-norm {
	position: relative;
	z-index: 1; /* needed for setting pseudo-element z-index */
	overflow: hidden;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
}

a.link-border {
	position: relative;
	display: inline-block;
	outline: none;
	color: #fd6a62;
	vertical-align: bottom;
	text-decoration: none;
	white-space: nowrap;
}

.hearted {
    color: #fd6a62 !important;
}

.ion-heart {
    color: #ddd;
}

a.link-border::before,
a.link-border::after {
	pointer-events: none;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	-webkit-font-smoothing: antialiased;
	font-smoothing: antialiased;
}

a.link-border  {
	color: #fd6a62;
	font-weight: 500;
	-webkit-transition: -webkit-transform 0.2s;
	transition: transform 0.2s;
}

a.link-border:hover,
a.link-border:focus {
	-webkit-transform: scale(0.8333);
	transform: scale(0.8333);
}

a.link-border {
	width: auto;
}

a.link-border::before {
	position: absolute;
	top: 0px;
	left: 0px;
	box-sizing: content-box;
	padding: 0 0px;
	width: 100%;
	height: 100%;
	border: 2px solid #222;
	content: '';
	opacity: 0;
	-webkit-transition: opacity 0.2s, -webkit-transform 0.2s;
	transition: opacity 0.2s, transform 0.2s;
	-webkit-transform: scale(0.8333);
	transform: scale(0.8333);
}

a.link-border:hover::before,
a.link-border:focus::before {
	opacity: 1;
	-webkit-transform: scale(1.2);
	transform: scale(1.2);
}

.item-skills {
	vertical-align: middle;
}

.item-text {
	display: inline-block !important;
	max-width: calc(100% - 200px);
}

.skill_tag {
    font-size: 14px;
    display: none;
}

.badge {
	box-sizing: border-box;
	padding: 2px 0px;
	text-transform: uppercase;
	font-size: 11pt;
	background: transparent;
	color: #333;
}

.badge.t6, .badge.ios {
	color: #fd6a62;
}

.badge.t1, .badge.android {
	color: #FFB347;
}

.badge.t2, .badge.hardware {
	color: #7bb7fa;
}

.badge.t3, .badge.backend {
	color: #60d7a9;
}

.badge.t4, .badge.design {
	color: #F4D35E;
}

.badge.t5, .badge.frontend {
	color: #f68dbb;
}

.item-icon {
	cursor: pointer;
	border-radius: 50;
	height: 64px;
	overflow: hidden;
	vertical-align: top;
}

.row.label {
	font-size: 14pt;
	color: #8D8D8D;
	font-weight: 700;
	margin-top: 20px;
	padding-bottom: 10px;
	width: auto;
}

.row.label:first-child {
	margin-top: 0;
}



.icon-star:before {
    position: relative;
    top: -4px;
    left: 0;
    width: 100%;
    font-size: 26px;
    line-height: 24px;
    display: inline-block;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    backface-visibility: hidden;
}

.icon-star:after {
	content: "\f141";
    font-family: 'ionicons';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    position: relative;
    -webkit-font-smoothing: antialiased;
}

.icon-star {
	font-size: 0px;
}

.row .item-action {
	font-size: 20pt;
	color: #888;
	text-align: center;
	width: 75px;
	padding: 0;
}

.row.item {
	padding: 0;
	padding-top: 10px;
	padding-bottom: 10px;
}

.row .item-heart {
	cursor: pointer;
	vertical-align: top;
	position: relative;
	top: 0px;
}

.row .item-hearts {
	text-transform: uppercase;
	letter-spacing: 1px;
	font-weight: 700;
	font-size: 16pt;
    top: -25px;
    position: relative;
}

.row .item-title {
	cursor: pointer;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-weight: 700;
	font-size: 14pt;
}

.row .item-desc {
	cursor: pointer;
	color: #AAA;
	font-size: 14pt;
	line-height: normal;
}


.row.item li {
	display: inline-table;
	padding: 0px 8px;
	list-style-type: none;
}

.row.item .item-desc {
	max-width: 60%;
}

.idea .fs-numbers {
	margin: 5px 40px;
}

.sidebar {
	position: fixed;
	right: 0px;
	z-index: 22;
	top: 0px;
	height: 100%;
	width: 50%;
	background: rgba(256,256,256,1);
	color: black;
	padding: 20px 40px 20px 40px;
	border-left: 1px solid #999;
}

.count {
	color: #aaa;
}

.pointer {
	cursor: pointer;
}

.filter a:hover, .filter a:active, .filter a:visited {
	text-decoration: none;
}

.filter.selected a {
	border-bottom: 2px solid #ddd;
}

.sidebar h1 {
	color: black;
}

.profile_sidebar {
	position: fixed;
	left: 0px;
	z-index: 99999;
	top: 0px;
	height: 100%;
	width: 400px;
	background: rgba(256,256,256,1);
	color: black;
	padding: 0px 40px 20px 40px;
}

.sidebar-item-title h1 {
	margin-bottom: 5px;
	padding-bottom: 0;
	font-weight: bold;
	font-size: 32px;
}

.sidebar-item-author {
	color: #777;
	margin-bottom: 20px;
}
.sidebar-item-contact {
	color: #777;
	margin-top: 10px;
	margin-bottom: 20px;
}
.sidebar-prompt {
	color: #777;
}
.sidebar-item-desc {
    font-size: 28px;
    padding-bottom: 15px;
    line-height: 42px;
}

#idea-filter {
	padding-left: 0;
}

.idea-list {
	margin-bottom: 0;
}

.idea-post-full input {
	padding: 15px 20px;
	font-size: 20px;
	outline: none;
	border: 1px solid #bbb;
	margin: 0;
}

.idea-post-full input[type="submit"] {
	background: #efefef;
	border-left: 0;
}

.idea-post-full input[type="submit"]:hover {
	background: #dedede;
}

#comment-text {
	width: 100%;
}

#comment-create {
	display: inline-flex;
	width: 100%;
}

.comment-author {
	font-size: 16pt;
	color: #777;
	margin-left: 20px;
}

.comment-time {
	color: #777;
	font-size: 11pt;
	float: right;
	margin-top: 23px;
}

.sidebar h1 {
	margin-top: 5px;
}

.sidebar-author .comment-avatar img {
	margin-top: 0;
}

.sidebar-author.comment .comment-author {
	font-size: 15px;
}

.sidebar-author.comment {
	margin-top: 10px;
	border: 0;
}

.comment-avatar img {
	position: relative;
	margin-top: 20px;
}

.comment-content {
	margin-left:75px;
	float: left;
	display: inline;
}

.comment {
	display: inline-block;
	margin-top: 20px;
	margin-bottom: 10px;
	border-top: 1px solid #efefef;
	width: 100%;
}

.blur {
	/*-webkit-transition: all 0.25s cubic-bezier(0.600, 0.040, 0.980, 0.335);
	transition: all 0.25s cubic-bezier(0.600, 0.040, 0.980, 0.335);*/
	-webkit-filter: opacity(0.2);
}


@media (max-width: 650px) {
  .brand {
  	display: none;
  }
  .brand:before {
  	content: '<img src="icon.png" height="40px" class="brand-icon">';
  }
  .navbar {
  	margin-bottom: 0;
  }
  #idea-filter li {
  	display: block !important;
  	margin: 10px 0;
  }
}
