/* Sticky footer styles
-------------------------------------------------- */
html, body {
  height: 100%;
}

.wrapper {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto -150px;
}

footer {
  width: 100%;
  /* Set the fixed height of the footer here */
  min-height: 150px;
  background-color: #f5f5f5;
  box-sizing: border-box;
  padding-top: 30px;
}

.push {
  height: 150px;
}

footer ul {
	list-style-type: none;
}
