@font-face {
  font-family: 'Avenir-Book';
  src: url('/fonts/Avenir/Avenir-Book.ttf')  format('truetype'), /* Safari, Android, iOS */
}

@font-face {
  font-family: 'Avenir-Black';
  src: url('/fonts/Avenir/Avenir-Black.ttf')  format('truetype'), /* Safari, Android, iOS */
}

html {
	-webkit-font-smoothing: antialiased;
	font-smoothing: antialiased;
	height: 100%;
}

a {
	cursor: pointer;
}

.success {
	color: green !important;
	border-color: green !important;
}

.error {
	color: red !important;
	border-color: red !important;
}

#full-page-fade {
	position: fixed;
	display: none;
	top:0;
	left:0;
	bottom:0;
	right:0;
	z-index: 50;
	background: rgba(0,0,0,0.8);
}

#full-page-fade.show {
	display: block;
}

body {
	font-family: Avenir-Book, Avenir, helvetica, sans-serif;
	box-sizing: border-box;
	margin-bottom: 0;
}

body.landing {
	margin-bottom: 0;
	background: black;
}

body.landing footer {
	position: relative;
	bottom: 0;
}

/* HOME PAGE */
#home-nav > .navbar {
	margin-bottom: 0;
}

#home-splash-container {
	height: 100%;
	background: url('/images/home_splash.jpg') no-repeat center;
	background-size: cover;
}

#home-splash {
	padding-top: 50px;
}

#home-splash-title {
	font-size: 60pt;
	color: white;
	font-family: 'voga';
}

#home-splash-join {
	color: white;
	background: black;
	width: 150px;
	height: 150px;
	margin-top: 30px;
	border-radius: 100px;
	border: none;
	font-size: 30pt;
	outline: none;
}

#home-splash-join:hover {
	background: white;
	color: black;
}

#small-lh {
	line-height: 60pt;
	display: inline-block;
}

#home-splash-subtitle {
	font-size: 30pt;
	color: white;
	font-family: 'moon';
}

#home-splash-container {
	padding: 0;
}
/* END HOME PAGE */

/* hackathon sidebar */

.pad-top {
	padding-top: 30px;
}

.sidebar-profile-avatar {
	border-radius:50px;
	margin-top:-5px;
	width: 32px;
	height: 32px;
}

.sidebar-profile-big-avatar {
	border-radius:250px;
	margin-top:20px;
	width: 50%;
	height: auto;
}

/* end hackathon sidebar */

.item-heart {
	font-size: 14px;
	width: 100%;
	background: transparent;
	outline: none;
	margin-bottom: 4px;
	padding: 2px 5px;
	border-radius: 3px;
	color: #efefef;
}

.index-start {
	border-radius:200px;
	font-size:24px;
	outline:none;
	background: #232529;
	color: #fff;
}

.sidebar-interested {
	margin-bottom: 5px;
}

.interested-in {
	font-size: 14px;
	width: 100%;
}

#hackathon-nav {
	list-style-type: none;
}

#hackathon-nav li {
	display: inline;
	padding: 0px 10px;
}

#idea-create .fixer-quick.ac-custom svg {
	margin-top: -22px;
}

#profile-bio {
	margin-top: 20px;
}

.bio-row {
	font-size: 16pt;
}

.form-horizontal .specialization {
	margin-left: 0px;
	margin-right: 0px;
}

#feedback-module {
	color: black;
}

#my-hackathon-list {
	font-size: 16px;
}

#my-hackathon-list > li {
	list-style-type: none;
}

#home-link {
	color: white;
}

#title-url {
	color: #ddd;
}

#my-group {
	color: #ddd;
}

.sidebar {
	overflow-y:scroll;
	z-index: 51;
}

.top-right-menu {
	float:right;
	margin-top: 9px;
}

.item-comments, .item-skills {
	cursor: pointer;
}

.item-comments {
	color: #ccc;
}

.user-title {
	font-weight: 200;
	color: rgba(0,0,0,0.3);
}

/* TOOLS */

.big {
	font-size: 28pt !important;
}

/* Clearfix */

.cf:before,
.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.cf:after {
    clear: both;
}

.cf {
    *zoom: 1;
}

/* ELEMENT STYLES */

.view {
	padding-top: 70px;
}

.hackathon-badge {
	height: 128px;
	width: 128px;
}

.sidebar a {
	color: rgba(0,0,0,0.8);
}

.sidebar a:hover, .sidebar a:focus {
	color: rgba(0,0,0,0.95);
}

#register-form .ac-custom svg {
	margin-top: -22px;
}

#sidebar-nav i {
	font-size: 23px;
	margin-top: -10px;
	cursor: pointer;
}

#idea-filter li {
	list-style-type: none;
	display: inline;
	padding: 0 6px 0 10px;
}

#skill-filter li {
	list-style-type: none;
	display: inline;
	padding: 0 6px 0 10px;
}

.ideas-icon {
	display: none !important;
}
.teams-icon {
	display: none !important;
}


.row.item:hover {

    background-color: rgba(0,0,0,0.05);
}

/* CONTENT ALL */

@media (max-width: 500px) {
    #hackermatch-name {
    	display: none;
    }
    .hide-on-mobile {
    	display: none;
    }
    #brand {
    	font-size: 20px;
    }
  	.fs-controls {
  		height: 300px;
  	}
  	.pt-page {
  		padding: 0;
  	}

    .row.item .item-action {
    	width: 30px;
    }
    #ideas-text {
    	display: none;
    }
    .top-right-menu {
    	margin-top: 0;
    }
    .ideas-icon {
    	display: inline !important;
    }
    #teams-text {
    	display: none;
    }
    .teams-icon {
    	display: inline !important;
    }

    .row .item-hearts {
    	font-size: 10pt;
    }
    .item-text {
    	max-width: calc(100% - 40px);
    }
    .row.item li.item-icon {
    	display: none;
    }
    #home-splash-title {
        font-size: 45pt;
    }
}

@media (max-width: 800px) {
	.sidebar {
		width: 100%;
	}
	#sidebar-exit {
		display: block;
	}
	#comment-create {
		font-size: 10pt;
	}
	.row.item li {
		padding: 0;
	}
}

#home-splash { 
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
}

#home-splash-title {

    font-family: Avenir-Book, Avenir, helvetica, sans-serif;

}
