/* NAV BAR */

#title-bar {
	z-index: 1000;
	position: absolute;
	top: 0px;
	width: 100%;
	padding: 10px 30px;
}

@font-face {
  font-family: 'Avenir-Book';
  src: url('/fonts/avenir/Avenir-Book.ttf')  format('truetype'), /* Safari, Android, iOS */
}

@font-face {
  font-family: 'Avenir-Black';
  src: url('/fonts/avenir/Avenir-Black.ttf')  format('truetype'), /* Safari, Android, iOS */
}

html {
	overflow-x: hidden;
	font-family: 'Avenir';
	background: #dfef9b;
	color: #fff;
	font-weight: 400;
	font-size: 1em;
}



#brand {
	padding-left: 10px;
	font-size: 24pt;
	float: left;
	font-family: 'Avenir-Black';
}

#home-link {
	color: white;
}

#my-group {
	color: #ddd;
}

.sidebar {
	overflow-y:scroll;
}

.top-right-menu {
	float:right;
	margin-top: 7px;
}

.top-right-menu a {
	font-size: 24pt;
	margin-right: 30px;
	cursor: pointer;
	color: #eee;

}

.top-right-menu a:hover {
	color: #fff;
}

.pt-page {
	padding-top: 100px;
	box-sizing: border-box;
}

/* TOOLS */

.big {
	font-size: 28pt !important;
}

/* Clearfix */

.cf:before,
.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.cf:after {
    clear: both;
}

.cf {
    *zoom: 1;
}

/* ELEMENT STYLES */

.view {
	margin-top: 50px;
}

html, body {
	height: 100%;
}

.container {
	height: 100%;
}

a {
	color: rgba(0,0,0,0.3);
	text-decoration: none;
	outline: none;
}

a:hover, a:focus {
	color: rgba(0,0,0,0.5);
}

/* CONTENT ALL */
