/* NAV BAR */

#title-bar {
	z-index: 1000;
	position: absolute;
	top: 0px;
	width: 100%;
	padding: 10px 30px;
}

@font-face {
  font-family: 'Avenir-Book';
  src: url('/fonts/avenir/Avenir-Book.ttf')  format('truetype'), /* Safari, Android, iOS */
}

@font-face {
  font-family: 'Avenir-Black';
  src: url('/fonts/avenir/Avenir-Black.ttf')  format('truetype'), /* Safari, Android, iOS */
}

html {
	overflow-x: hidden;
	font-family: 'Avenir-Book', 'Avenir', helvetica, sans-serif;
	background: #222;
	color: #fff;
	font-weight: 400;
	font-size: 1em;
}

#brand {
	padding-left: 10px;
	font-size: 24pt;
	font-weight: 600;
	float: left;
	font-family: 'Avenir-Black', 'Avenir', helvetica, sans-serif;
}

#home-link {
	color: white;
}

#title-url {
	color: #ddd;
}

#my-group {
	color: #ddd;
}

.sidebar {
	overflow-y:scroll;
}

.top-right-menu {
	float:right;
	margin-top: 9px;
}

.item-comments, .item-skills {
	cursor: pointer;
}

.item-comments {
	color: #ccc;
}

.top-right-menu a {
	font-size: 24pt;
	margin-right: 30px;
	cursor: pointer;
	color: #eee;

}

.user-title {
	font-weight: 200;
	color: rgba(0,0,0,0.3);
}

.index-page {
	background: #ffcb00;
}

#splash a {
    color: #1e3261;
}

#splash a:hover {
    color: #fff;
}

.top-right-menu a:hover {
	color: #fff;
}

.pt-page {
	padding-top: 100px;
	box-sizing: border-box;
}

/* TOOLS */

.big {
	font-size: 28pt !important;
}

/* Clearfix */

.cf:before,
.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.cf:after {
    clear: both;
}

.cf {
    *zoom: 1;
}

/* ELEMENT STYLES */

.view {
	padding-top: 70px;
}

html, body {
	height: 100%;
}

.container {
	height: 100%;
}

a {
	color: rgba(0,0,0,0.3);
	text-decoration: none;
	outline: none;
}

a:hover, a:focus {
	color: rgba(0,0,0,0.5);
}

/* CONTENT ALL */
