#messages-user-search {
	
}

#messages-search {

}

#messages-left-container {
	border-right: 1px solid #eee;
	height: 100%;
}

#messages-container {
	height: 500px;
	border: 1px solid #eee;
	padding: 5px 0;
	border-radius: 10px;
	margin-bottom: 20px;
}

#messages-container-right {
	height: 450px;
}

.twitter-typeahead {
	width: 100%;
	z-index: 60;
}
.tt-menu {
	z-index: 70;
	background: white;
	width: 100%;
	font-size: 22px;
}

.tt-selectable {
	cursor: pointer;
	padding: 2px 6px
}

.tt-selectable:hover {
	background: rgb(33, 150, 243);
	color: white;
}

#messages-container-right h1 {
	margin: 0;
	margin-top: 5px;
}

.message-thread-message {
	padding: 5px 0;
}


#messages-thread-container {
	max-height: 400px;
	overflow-y: auto;
	padding-left: 0;
}

.sent-by-me {
	color: #bbb;
}

#messages-users {
	list-style-type: none;
	padding-left: 0;
	max-height: 450px;
	overflow-y: auto;
}

#messages-write {

}

.conversation-tab {
	vertical-align: middle;
	height: 64px;
	font-size: 18px;
	background: white;
	cursor: pointer;
}

.message-thread-message {
	list-style-type: none;
}

.conversation-tab-inner {
	height: 48px;
	line-height: 48px;
	position: relative;
	top: 8px;
	left: 8px;
}

.conversation-tab-username {
	margin-left: 10px;
}

.conversation-tab.selected {
	background: #eee;
}

.conversation-tab-image {
	float: left;
	border-radius: 100px;
	height: 100%;
}