
.navbar-pageTitle {
    margin-left: -20px !important;
}

.navbar-right {
	font-size: 20px !important;
}

#hackathon-nav a {
	border-radius: 100px;
	font-size: 40pt;
	height: 100px;
	width: 100px;
	text-align: center;
	vertical-align: middle;
}

#notifications-trigger.has-notifications {
	color: orange;
}

#notifications-dropdown>li>a:hover, #notifications-dropdown>li>a:focus {
	background: transparent;
}

#notifications-dropdown li.notification-item {
	padding: 10px 0;
	border-top: 1px solid #eee;
}

.dropdown-header {
	margin-bottom: 5px;
}

#notifications-dropdown {
	max-height: 250px;
	overflow-y: auto;
	width: 300px;
	word-wrap: break-word;
}

#notifications-dropdown li > a {
	white-space:normal;
}

#skill-filter {
	padding-left: 0;
}

@media (max-width: 500px) {
	#hackathon-nav a {
		border-radius: 100px;
		font-size: 20pt;
		height: 60px;
		width: 60px;
		text-align: center;
		vertical-align: middle;
	}
}