#profile-bio {
	font-size: 20pt;
}

.pt-triggers {
	background: #3b3f45;
}

#contact {
	text-align: center;
	width: 100%;
}

#profile a {
	color: #555;
}

.title {
	color: #bbb;
	text-transform: uppercase;
	font-size: 16px;
}

#profile {
	color: #222;
	margin: 0;
	clear: both;
	padding: 70px 0px;
	background: #efefef;
	-webkit-font-smoothing: antialiased;
}

.languages {
	margin-top: 30px;
	background: white;
	padding: 10px 20px;
	font-size: 16pt;
}

#profile-link:hover {
    color: rgba(0,0,0,0.3);
}

#profile-link {
	padding: 10px 20px;
	background: transparent;
	outline: none;
	border: 0;
	border-bottom: 1px dashed white;
	color: #fff;
	font-weight: 700;
    float: right;
}

.hackathons {
	margin-top: 20px;
	background: white;
	padding: 10px 20px;
}

.collaborator {
	padding: 5px 0;
}

.mini-avatar {
	margin-right: 5px;
	height: 30px;
	width: 30px;
	border-radius:40px;
}

.cf:before,
.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.cf:after {
    clear: both;
}

/**
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */
.cf {
    *zoom: 1;
}

#profile a:hover {
	color: #444;
}

.profile-skills .badge {
	font-size: 20pt;
}

.profile-skills .badge:first-child {
	padding-left: 0px;
}

.profile-skills.badge.t1, .profile-skills.badge.mobile {
	background: #fd6a62;
}

.profile-skills.badge.t2, .profile-skills.badge.hardware {
	background: #7bb7fa;
}

.profile-skills.badge.t3, .profile-skills.badge.backend {
	background: #60d7a9;
}

.profile-skills.badge.t4, .profile-skills.badge.design {
	background: #fdc162;
}

.profile-skills.badge.t5, .profile-skills.badge.webdev {
	background: #f68dbb;
}

.full-width {
	width: 500px;
}

	/* ROW 1 */

	#picture {
		height: 200px;
		border-radius: 100px;
		width: 200px;
		margin: 20px auto;
		overflow: hidden;
	}

	#details {
		width: auto;
		max-width: 500px;
		margin: 0 auto;
		padding: 0 15px;
		color: #555;
	}
		#name {
			color: #222;
			margin: 0 auto;
			width: auto;
			font-size: 30pt;
			text-transform: uppercase;
			font-weight: 900;
		}

		#details {
			margin: 0 auto;
		}
		#details i {
			width: 20px;
			font-size: 20pt;
			margin:10px 10px;
		}

	#interests {
		width: auto;
		max-width: 350px;
		height: 200px;
		margin-top: 43px;
		float: left;
		color: #555;	
	}

	#interests ul {
			font-size: 20pt;
			list-style-type: none;
			margin: 0;
			padding: 0;
			width: 100%;
		}

	#graph {
	
	}

.fa-star {
	color: gold;
}

.feature-row {
	max-width: 100%;
}
.feature {
	max-width: 100%;
	overflow: hidden;
	-ms-word-break: break-all;
	/* Non standard for webkit */
	word-break: break-word;

	-webkit-hyphens: auto;
   	-moz-hyphens: auto;
   	hyphens: auto;
}
	.title-dot {
		width: 10px;
		margin-right: 5px;
		height: 10px;
		border-radius:10px;
		display: inline-block;
		box-sizing: border-box;
	}
	.title-container {
		display: inline-block;
		margin-top: 5px;
	}
		.feature-title {
		}
		.feature-body {
			font-size: 16pt;
		}
		.feature-link {
			font-size: 18px;
			margin-left: 5px;
		}
		.feature-tech {
			font-size: 16pt;
			color: #999;
		}

	.feature-image {
		height: 100%;
		overflow: hidden;
		
	}
	.feature-image img {
		height: 100%;
		width: auto;
		max-width: 300px;
	}
