@font-face {
	font-family: "Flaticon";
	src: url("flaticon.eot");
	src: url("flaticon.eot#iefix") format("embedded-opentype"),
	url("flaticon.woff") format("woff"),
	url("flaticon.ttf") format("truetype"),
	url("flaticon.svg") format("svg");
	font-weight: normal;
	font-style: normal;
}
[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {   
	font-family: Flaticon;
font-style: normal;
position: relative;
}.flaticon-accept8:before {
	content: "\e000";
}
.flaticon-access:before {
	content: "\e001";
}
.flaticon-add170:before {
	content: "\e002";
}
.flaticon-add171:before {
	content: "\e003";
}
.flaticon-add172:before {
	content: "\e004";
}
.flaticon-add173:before {
	content: "\e005";
}
.flaticon-airplane98:before {
	content: "\e006";
}
.flaticon-alarm44:before {
	content: "\e007";
}
.flaticon-apple68:before {
	content: "\e008";
}
.flaticon-archive24:before {
	content: "\e009";
}
.flaticon-archive25:before {
	content: "\e00a";
}
.flaticon-archive26:before {
	content: "\e00b";
}
.flaticon-archive27:before {
	content: "\e00c";
}
.flaticon-arrow610:before {
	content: "\e00d";
}
.flaticon-arrow611:before {
	content: "\e00e";
}
.flaticon-arrows94:before {
	content: "\e00f";
}
.flaticon-arrows95:before {
	content: "\e010";
}
.flaticon-art4:before {
	content: "\e011";
}
.flaticon-asterisk7:before {
	content: "\e012";
}
.flaticon-audio52:before {
	content: "\e013";
}
.flaticon-audio53:before {
	content: "\e014";
}
.flaticon-audio54:before {
	content: "\e015";
}
.flaticon-ball36:before {
	content: "\e016";
}
.flaticon-barbecue7:before {
	content: "\e017";
}
.flaticon-bars52:before {
	content: "\e018";
}
.flaticon-battery145:before {
	content: "\e019";
}
.flaticon-battery146:before {
	content: "\e01a";
}
.flaticon-battery147:before {
	content: "\e01b";
}
.flaticon-battery148:before {
	content: "\e01c";
}
.flaticon-bell42:before {
	content: "\e01d";
}
.flaticon-bitten2:before {
	content: "\e01e";
}
.flaticon-bluetooth16:before {
	content: "\e01f";
}
.flaticon-bolt14:before {
	content: "\e020";
}
.flaticon-book201:before {
	content: "\e021";
}
.flaticon-bookmark39:before {
	content: "\e022";
}
.flaticon-bottle36:before {
	content: "\e023";
}
.flaticon-bowl14:before {
	content: "\e024";
}
.flaticon-broken42:before {
	content: "\e025";
}
.flaticon-browser68:before {
	content: "\e026";
}
.flaticon-bus41:before {
	content: "\e027";
}
.flaticon-bus44:before {
	content: "\e028";
}
.flaticon-business171:before {
	content: "\e029";
}
.flaticon-business172:before {
	content: "\e02a";
}
.flaticon-business173:before {
	content: "\e02b";
}
.flaticon-business174:before {
	content: "\e02c";
}
.flaticon-button6:before {
	content: "\e02d";
}
.flaticon-calculator65:before {
	content: "\e02e";
}
.flaticon-calendar150:before {
	content: "\e02f";
}
.flaticon-calendar151:before {
	content: "\e030";
}
.flaticon-cassette16:before {
	content: "\e031";
}
.flaticon-cellphone62:before {
	content: "\e032";
}
.flaticon-chat66:before {
	content: "\e033";
}
.flaticon-chef28:before {
	content: "\e034";
}
.flaticon-chicken15:before {
	content: "\e035";
}
.flaticon-chicken16:before {
	content: "\e036";
}
.flaticon-cinema38:before {
	content: "\e037";
}
.flaticon-circle98:before {
	content: "\e038";
}
.flaticon-circular247:before {
	content: "\e039";
}
.flaticon-circular248:before {
	content: "\e03a";
}
.flaticon-circular249:before {
	content: "\e03b";
}
.flaticon-clipboard88:before {
	content: "\e03c";
}
.flaticon-clipboard89:before {
	content: "\e03d";
}
.flaticon-clipboard90:before {
	content: "\e03e";
}
.flaticon-clipboard91:before {
	content: "\e03f";
}
.flaticon-clipboard92:before {
	content: "\e040";
}
.flaticon-clock93:before {
	content: "\e041";
}
.flaticon-close46:before {
	content: "\e042";
}
.flaticon-cloud291:before {
	content: "\e043";
}
.flaticon-code37:before {
	content: "\e044";
}
.flaticon-coffee62:before {
	content: "\e045";
}
.flaticon-collapse6:before {
	content: "\e046";
}
.flaticon-collapsing1:before {
	content: "\e047";
}
.flaticon-compass101:before {
	content: "\e048";
}
.flaticon-console10:before {
	content: "\e049";
}
.flaticon-counterclockwise7:before {
	content: "\e04a";
}
.flaticon-credit90:before {
	content: "\e04b";
}
.flaticon-cross91:before {
	content: "\e04c";
}
.flaticon-crosshair11:before {
	content: "\e04d";
}
.flaticon-cube33:before {
	content: "\e04e";
}
.flaticon-day18:before {
	content: "\e04f";
}
.flaticon-day19:before {
	content: "\e050";
}
.flaticon-delete78:before {
	content: "\e051";
}
.flaticon-delete79:before {
	content: "\e052";
}
.flaticon-design27:before {
	content: "\e053";
}
.flaticon-double114:before {
	content: "\e054";
}
.flaticon-down90:before {
	content: "\e055";
}
.flaticon-down91:before {
	content: "\e056";
}
.flaticon-down92:before {
	content: "\e057";
}
.flaticon-download156:before {
	content: "\e058";
}
.flaticon-drink48:before {
	content: "\e059";
}
.flaticon-drink49:before {
	content: "\e05a";
}
.flaticon-drink50:before {
	content: "\e05b";
}
.flaticon-egg11:before {
	content: "\e05c";
}
.flaticon-eject24:before {
	content: "\e05d";
}
.flaticon-email94:before {
	content: "\e05e";
}
.flaticon-email95:before {
	content: "\e05f";
}
.flaticon-emails5:before {
	content: "\e060";
}
.flaticon-event9:before {
	content: "\e061";
}
.flaticon-exclamation28:before {
	content: "\e062";
}
.flaticon-eyeglasses22:before {
	content: "\e063";
}
.flaticon-fast38:before {
	content: "\e064";
}
.flaticon-female238:before {
	content: "\e065";
}
.flaticon-file78:before {
	content: "\e066";
}
.flaticon-file79:before {
	content: "\e067";
}
.flaticon-file80:before {
	content: "\e068";
}
.flaticon-file81:before {
	content: "\e069";
}
.flaticon-first45:before {
	content: "\e06a";
}
.flaticon-fish53:before {
	content: "\e06b";
}
.flaticon-flag66:before {
	content: "\e06c";
}
.flaticon-flag67:before {
	content: "\e06d";
}
.flaticon-flask15:before {
	content: "\e06e";
}
.flaticon-folder207:before {
	content: "\e06f";
}
.flaticon-folder208:before {
	content: "\e070";
}
.flaticon-food35:before {
	content: "\e071";
}
.flaticon-food38:before {
	content: "\e072";
}
.flaticon-fork38:before {
	content: "\e073";
}
.flaticon-four100:before {
	content: "\e074";
}
.flaticon-four101:before {
	content: "\e075";
}
.flaticon-four99:before {
	content: "\e076";
}
.flaticon-gas14:before {
	content: "\e077";
}
.flaticon-global33:before {
	content: "\e078";
}
.flaticon-hammer52:before {
	content: "\e079";
}
.flaticon-handle:before {
	content: "\e07a";
}
.flaticon-headphones36:before {
	content: "\e07b";
}
.flaticon-heart291:before {
	content: "\e07c";
}
.flaticon-home143:before {
	content: "\e07d";
}
.flaticon-horseshoe19:before {
	content: "\e07e";
}
.flaticon-hot71:before {
	content: "\e07f";
}
.flaticon-hour10:before {
	content: "\e080";
}
.flaticon-ice69:before {
	content: "\e081";
}
.flaticon-ice70:before {
	content: "\e082";
}
.flaticon-ice72:before {
	content: "\e083";
}
.flaticon-ice73:before {
	content: "\e084";
}
.flaticon-ice75:before {
	content: "\e085";
}
.flaticon-ice76:before {
	content: "\e086";
}
.flaticon-image78:before {
	content: "\e087";
}
.flaticon-inbox34:before {
	content: "\e088";
}
.flaticon-infinite8:before {
	content: "\e089";
}
.flaticon-information63:before {
	content: "\e08a";
}
.flaticon-information64:before {
	content: "\e08b";
}
.flaticon-ink13:before {
	content: "\e08c";
}
.flaticon-interface53:before {
	content: "\e08d";
}
.flaticon-interface54:before {
	content: "\e08e";
}
.flaticon-interface55:before {
	content: "\e08f";
}
.flaticon-internet38:before {
	content: "\e090";
}
.flaticon-internet39:before {
	content: "\e091";
}
.flaticon-ipod12:before {
	content: "\e092";
}
.flaticon-jam1:before {
	content: "\e093";
}
.flaticon-key166:before {
	content: "\e094";
}
.flaticon-lamp25:before {
	content: "\e095";
}
.flaticon-last16:before {
	content: "\e096";
}
.flaticon-leaf59:before {
	content: "\e097";
}
.flaticon-left187:before {
	content: "\e098";
}
.flaticon-left188:before {
	content: "\e099";
}
.flaticon-left189:before {
	content: "\e09a";
}
.flaticon-left190:before {
	content: "\e09b";
}
.flaticon-left191:before {
	content: "\e09c";
}
.flaticon-left192:before {
	content: "\e09d";
}
.flaticon-lifesaver3:before {
	content: "\e09e";
}
.flaticon-light85:before {
	content: "\e09f";
}
.flaticon-like70:before {
	content: "\e0a0";
}
.flaticon-link54:before {
	content: "\e0a1";
}
.flaticon-list78:before {
	content: "\e0a2";
}
.flaticon-list79:before {
	content: "\e0a3";
}
.flaticon-list80:before {
	content: "\e0a4";
}
.flaticon-lock70:before {
	content: "\e0a5";
}
.flaticon-locked49:before {
	content: "\e0a6";
}
.flaticon-locomotive1:before {
	content: "\e0a7";
}
.flaticon-login15:before {
	content: "\e0a8";
}
.flaticon-login16:before {
	content: "\e0a9";
}
.flaticon-logout14:before {
	content: "\e0aa";
}
.flaticon-logout15:before {
	content: "\e0ab";
}
.flaticon-logout16:before {
	content: "\e0ac";
}
.flaticon-logout17:before {
	content: "\e0ad";
}
.flaticon-magnifying53:before {
	content: "\e0ae";
}
.flaticon-male238:before {
	content: "\e0af";
}
.flaticon-male240:before {
	content: "\e0b0";
}
.flaticon-man454:before {
	content: "\e0b1";
}
.flaticon-map97:before {
	content: "\e0b2";
}
.flaticon-medical89:before {
	content: "\e0b3";
}
.flaticon-menu49:before {
	content: "\e0b4";
}
.flaticon-menu50:before {
	content: "\e0b5";
}
.flaticon-message11:before {
	content: "\e0b6";
}
.flaticon-message12:before {
	content: "\e0b7";
}
.flaticon-message13:before {
	content: "\e0b8";
}
.flaticon-messsage:before {
	content: "\e0b9";
}
.flaticon-metro5:before {
	content: "\e0ba";
}
.flaticon-metro7:before {
	content: "\e0bb";
}
.flaticon-microphone82:before {
	content: "\e0bc";
}
.flaticon-minus95:before {
	content: "\e0bd";
}
.flaticon-minus96:before {
	content: "\e0be";
}
.flaticon-monitor80:before {
	content: "\e0bf";
}
.flaticon-mouse46:before {
	content: "\e0c0";
}
.flaticon-moustache12:before {
	content: "\e0c1";
}
.flaticon-music230:before {
	content: "\e0c2";
}
.flaticon-music231:before {
	content: "\e0c3";
}
.flaticon-musical112:before {
	content: "\e0c4";
}
.flaticon-new93:before {
	content: "\e0c5";
}
.flaticon-nine18:before {
	content: "\e0c6";
}
.flaticon-note46:before {
	content: "\e0c7";
}
.flaticon-notebook65:before {
	content: "\e0c8";
}
.flaticon-outbox3:before {
	content: "\e0c9";
}
.flaticon-pause42:before {
	content: "\e0ca";
}
.flaticon-pen66:before {
	content: "\e0cb";
}
.flaticon-pencil102:before {
	content: "\e0cc";
}
.flaticon-pendrive7:before {
	content: "\e0cd";
}
.flaticon-person318:before {
	content: "\e0ce";
}
.flaticon-personal32:before {
	content: "\e0cf";
}
.flaticon-phone360:before {
	content: "\e0d0";
}
.flaticon-photo196:before {
	content: "\e0d1";
}
.flaticon-photo197:before {
	content: "\e0d2";
}
.flaticon-photography9:before {
	content: "\e0d3";
}
.flaticon-pill8:before {
	content: "\e0d4";
}
.flaticon-pin47:before {
	content: "\e0d5";
}
.flaticon-pizza14:before {
	content: "\e0d6";
}
.flaticon-pizza15:before {
	content: "\e0d7";
}
.flaticon-placeholder28:before {
	content: "\e0d8";
}
.flaticon-play91:before {
	content: "\e0d9";
}
.flaticon-play92:before {
	content: "\e0da";
}
.flaticon-play93:before {
	content: "\e0db";
}
.flaticon-playing10:before {
	content: "\e0dc";
}
.flaticon-playing11:before {
	content: "\e0dd";
}
.flaticon-playing8:before {
	content: "\e0de";
}
.flaticon-playing9:before {
	content: "\e0df";
}
.flaticon-plug34:before {
	content: "\e0e0";
}
.flaticon-plug35:before {
	content: "\e0e1";
}
.flaticon-plus78:before {
	content: "\e0e2";
}
.flaticon-power102:before {
	content: "\e0e3";
}
.flaticon-printer87:before {
	content: "\e0e4";
}
.flaticon-printing22:before {
	content: "\e0e5";
}
.flaticon-programming1:before {
	content: "\e0e6";
}
.flaticon-prohibition19:before {
	content: "\e0e7";
}
.flaticon-radiation8:before {
	content: "\e0e8";
}
.flaticon-radio49:before {
	content: "\e0e9";
}
.flaticon-receiving5:before {
	content: "\e0ea";
}
.flaticon-recycle67:before {
	content: "\e0eb";
}
.flaticon-refrigerator7:before {
	content: "\e0ec";
}
.flaticon-remove19:before {
	content: "\e0ed";
}
.flaticon-restaurant45:before {
	content: "\e0ee";
}
.flaticon-restaurant46:before {
	content: "\e0ef";
}
.flaticon-rewind41:before {
	content: "\e0f0";
}
.flaticon-right190:before {
	content: "\e0f1";
}
.flaticon-right191:before {
	content: "\e0f2";
}
.flaticon-right192:before {
	content: "\e0f3";
}
.flaticon-right193:before {
	content: "\e0f4";
}
.flaticon-royalty14:before {
	content: "\e0f5";
}
.flaticon-saturn13:before {
	content: "\e0f6";
}
.flaticon-save18:before {
	content: "\e0f7";
}
.flaticon-search91:before {
	content: "\e0f8";
}
.flaticon-search92:before {
	content: "\e0f9";
}
.flaticon-settings47:before {
	content: "\e0fa";
}
.flaticon-share34:before {
	content: "\e0fb";
}
.flaticon-shield87:before {
	content: "\e0fc";
}
.flaticon-shopping226:before {
	content: "\e0fd";
}
.flaticon-shuffle18:before {
	content: "\e0fe";
}
.flaticon-six24:before {
	content: "\e0ff";
}
.flaticon-slotted4:before {
	content: "\e100";
}
.flaticon-soup11:before {
	content: "\e101";
}
.flaticon-speaker90:before {
	content: "\e102";
}
.flaticon-speaker91:before {
	content: "\e103";
}
.flaticon-speaker92:before {
	content: "\e104";
}
.flaticon-speaker93:before {
	content: "\e105";
}
.flaticon-speaker94:before {
	content: "\e106";
}
.flaticon-speaker95:before {
	content: "\e107";
}
.flaticon-speaker96:before {
	content: "\e108";
}
.flaticon-speedometer33:before {
	content: "\e109";
}
.flaticon-speedometer34:before {
	content: "\e10a";
}
.flaticon-square172:before {
	content: "\e10b";
}
.flaticon-squares25:before {
	content: "\e10c";
}
.flaticon-star167:before {
	content: "\e10d";
}
.flaticon-star168:before {
	content: "\e10e";
}
.flaticon-sunny15:before {
	content: "\e10f";
}
.flaticon-tablet89:before {
	content: "\e110";
}
.flaticon-tag66:before {
	content: "\e111";
}
.flaticon-telephone99:before {
	content: "\e112";
}
.flaticon-television22:before {
	content: "\e113";
}
.flaticon-test29:before {
	content: "\e114";
}
.flaticon-text133:before {
	content: "\e115";
}
.flaticon-three163:before {
	content: "\e116";
}
.flaticon-tie5:before {
	content: "\e117";
}
.flaticon-travel17:before {
	content: "\e118";
}
.flaticon-triangle35:before {
	content: "\e119";
}
.flaticon-triangular58:before {
	content: "\e11a";
}
.flaticon-trophy67:before {
	content: "\e11b";
}
.flaticon-two362:before {
	content: "\e11c";
}
.flaticon-umbrella45:before {
	content: "\e11d";
}
.flaticon-universal6:before {
	content: "\e11e";
}
.flaticon-universal7:before {
	content: "\e11f";
}
.flaticon-unlock35:before {
	content: "\e120";
}
.flaticon-unlocked37:before {
	content: "\e121";
}
.flaticon-up139:before {
	content: "\e122";
}
.flaticon-up140:before {
	content: "\e123";
}
.flaticon-up141:before {
	content: "\e124";
}
.flaticon-up142:before {
	content: "\e125";
}
.flaticon-upload106:before {
	content: "\e126";
}
.flaticon-upload107:before {
	content: "\e127";
}
.flaticon-users24:before {
	content: "\e128";
}
.flaticon-verification18:before {
	content: "\e129";
}
.flaticon-verification19:before {
	content: "\e12a";
}
.flaticon-verifying:before {
	content: "\e12b";
}
.flaticon-visible8:before {
	content: "\e12c";
}
.flaticon-voice28:before {
	content: "\e12d";
}
.flaticon-warning33:before {
	content: "\e12e";
}
.flaticon-water57:before {
	content: "\e12f";
}
.flaticon-water58:before {
	content: "\e130";
}
.flaticon-web36:before {
	content: "\e131";
}
.flaticon-webpage3:before {
	content: "\e132";
}
.flaticon-wifi77:before {
	content: "\e133";
}
.flaticon-window54:before {
	content: "\e134";
}
.flaticon-window55:before {
	content: "\e135";
}
.flaticon-window56:before {
	content: "\e136";
}
.flaticon-windows34:before {
	content: "\e137";
}
.flaticon-world95:before {
	content: "\e138";
}
.flaticon-wrench71:before {
	content: "\e139";
}
.flaticon-wristwatch13:before {
	content: "\e13a";
}
.flaticon-zip22:before {
	content: "\e13b";
}
.flaticon-zip23:before {
	content: "\e13c";
}
.flaticon-zoom63:before {
	content: "\e13d";
}
.flaticon-zoom64:before {
	content: "\e13e";
}
