<template name="settings">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <form id="update-user-form" action="action" class="form-horizontal">
                <legend>Settings</legend>
                <div class="form-group">
                    <label for="user_name" class="col-lg-2 control-label">Name</label>
                    <div class="col-lg-10">
                        <input type="text" class="form-control" id="user_name"  value="{{name}}">
                    </div>
                </div>
                <div class="form-group">
                    <label for="user_contact" class="col-lg-2 control-label">Contact</label>
                    <div class="col-lg-10">
                        <input type="text" class="form-control" id="user_contact"  value="{{contact}}">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-lg-2 control-label">Skills</label>
                    <div class="col-lg-10">
                        <div class="checkbox">
                          <label>
                            <input type="checkbox"> Designer
                          </label>
                        </div>
                        <div class="checkbox">
                          <label>
                            <input type="checkbox"> Frontend
                          </label>
                        </div>
                        <div class="checkbox">
                          <label>
                            <input type="checkbox"> Backend
                          </label>
                        </div>
                        <div class="checkbox">
                          <label>
                            <input type="checkbox"> iOS
                          </label>
                        </div>
                        <div class="checkbox">
                          <label>
                            <input type="checkbox"> Android
                          </label>
                        </div>
                        <div class="checkbox">
                          <label>
                            <input type="checkbox"> Hardware
                          </label>
                        </div>
                    </div>
                    {{skills}}
                </div>
                <div class="form-group">
                    <label for="user_github" class="col-lg-2 control-label">Github Username</label>
                    <div class="col-lg-10">
                        <input type="text" class="form-control" id="user_github"  value="{{github}}">
                    </div>
                </div>
                <div class="form-group">
                    <label for="user_description" class="col-lg-2 control-label">About you</label>
                    <div class="col-lg-10">
                        <textarea class="form-control" maxlength="200" spellcheck="false" style="resize:vertical" rows="7" id="user_description" value="{{description}}"></textarea>
                        <span class="help-block">Don't know what to say? Talk about things you have tried or want to build.</span>
                    </div>
                </div>
                <div class="form-group">
                    <label for="user_contact" class="col-lg-2 control-label">Specializations</label>
                    <div class="col-lg-10">
                        <input type="text" class="form-control" id="user_contact"  value="{{contact}}">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-lg-2 control-label">Specializations</label>
                    <div class="specializations col-lg-10 input-group">
                        {{#each languages}}
                        <div class="specialization">
                            <input  class="language" type="text" value="{{.}}"><input type="button" value="x" class="delete-language form-control">
                        </div>
                        {{/each}}
                        <span class="input-group-btn">
                          <button class="btn btn-default add-language" type="button">+ Add</button>
                        </span>
                    </div> 
                </div>
                <div class="form-group">
                    <div class="col-lg-10 col-lg-offset-2">
                        <button type="reset" class="btn btn-default">Cancel</button>
                        <button type="submit" class="btn btn-primary">Save Changes</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</template>