<template name="createHackathon">
	<div class="row">
		<div class="col-md-6 col-md-offset-3">
			<div class="panel panel-default">
				<div class="panel-heading">
				<span class="text-muted">Add a hackathon to hackermatch</span>
				</div>
				<div class="panel-body">
					<form class="form-horizontal" id="add-hackathon-form">
						<div class="form-group">
						    <label for="inputEmail" class="col-lg-2 control-label">Hackathon name*</label>
						    <div class="col-lg-10">
						        <input type="text" class="form-control" placeholder="Hackathon name" name="hackathon-name" required>
						    </div>
						</div>
						<div class="form-group">
							<label for="inputEmail" class="col-lg-2 control-label">Website</label>
							<div class="col-lg-10">
							    <input type="text" class="form-control" placeholder="http://hackermat.ch" name="hackathon-url">
							</div>
						</div>
						<div class="form-group">
							<div class="checkbox col-lg-10 col-lg-offset-2">
							  <label>
							    <input type="checkbox" name="hackathon-isOrganizer"> I am an organizer of this hackathon
							  </label>
							</div>
						</div>
						<div class="form-group">
							<label for="inputEmail" class="col-lg-2 control-label">Image</label>
							<div class="col-lg-10">
							    <input type="text" class="form-control" placeholder="logo url" name="hackathon-logo-url" >
							</div>
						</div>
						<div class="form-group">
							<div class="col-lg-10 col-lg-offset-2">
								<button type="submit" class="btn btn-primary">Create</button>
							</div>
						</div>
						
					</form>
				</div>
			</div>
		</div>
	</div>
</template>