<template name="createIdea">
  {{> hackathonNav}}
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <form class="form-horizontal" id="create-idea">
                <legend>Create a new idea</legend>
                <div class="form-group">
                  <label for="idea-name" class="col-lg-3 control-label">5 words or less</label>
                  <div class="col-lg-9">
                    <input type="text"  name="idea-name" class="form-control" id="idea-name" placeholder="Uber for pets" required>
                  </div>
                </div>
                <div class="form-group">
                  <label for="idea-description" class="col-lg-3 control-label">Describe what your idea does and how it will work</label>
                  <div class="col-lg-9">
                    <textarea class="form-control" id="idea-description" name="idea-description" rows="2" required></textarea>
                    <span class="help-block">Keep it short and to the point. What problem does this idea solve, and how does it solve it?</span>
                  </div>
                </div>
                <div class="form-group">
                    <label class="col-lg-3 control-label">Which skills do you need?</label>
                    <div class="col-lg-4">
                        <div class="checkbox">
                          <label>
                            <input type="checkbox" name="idea-need-designer"> Designer
                          </label>
                        </div>
                        <div class="checkbox">
                          <label>
                            <input type="checkbox" name="idea-need-frontend"> Frontend
                          </label>
                        </div>
                        <div class="checkbox">
                          <label>
                            <input type="checkbox" name="idea-need-backend"> Backend
                          </label>
                        </div>
                    </div>
                    <div class="col-lg-5">
                        <div class="checkbox">
                          <label>
                            <input type="checkbox" name="idea-need-ios"> iOS
                          </label>
                        </div>
                        <div class="checkbox">
                          <label>
                            <input type="checkbox" name="idea-need-android"> Android
                          </label>
                        </div>
                        <div class="checkbox">
                          <label>
                            <input type="checkbox"  name="idea-need-hardware"> Hardware
                          </label>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-lg-9 col-lg-offset-3">
                        <button type="submit" class="btn btn-primary outline">Add Idea</button>
                    </div>
                </div>
            </form>
        </div>
        <!-- <div class="col-md-6">
            <form class="form-horizontal">
                <legend>Add an existing idea</legend>
                <div class="form-group">
                    <label class="col-lg-2 control-label">My Ideas</label>        
                    <div class="col-lg-10">
                      {{#if dataReady}}
                        {{#each ideas}}
                        <div class="checkbox">
                          <label>
                            <input type="checkbox"> {{name}}
                          </label>
                        </div>
                        {{/each}}
                      {{else}}
                        {{> loading}}
                      {{/if}}
                    </div>   
                </div>
                <div class="form-group">
                    <div class="col-lg-10 col-lg-offset-2">
                        <button type="submit" class="btn btn-primary outline">Add Ideas</button>
                    </div>
                </div>
            </form>
        </div> -->
    </div>
</template>
