<template name="hackathonNav">
    <center>
      <nav>
      <ul id="hackathon-nav" class="pager">
          <li>
              <a title="Ideas" id="find-ideas-link" href="/{{selected_hackathon.url_title}}"><i class="ion-ios-lightbulb-outline"></i>
              </a>
          </li>
          <li>
              <a title="Hackers" id="find-teams-link" href="/{{selected_hackathon.url_title}}/hackers"><i class="ion-ios-people"></i>
              </a>
          </li>
          <li>
              <a id="" href="/{{selected_hackathon.url_title}}/new" title="Add Idea">
              <i class="ion-ios-plus-empty"></i>
              </a>
          </li>
      </ul>
      </nav>
      </center>
</template>

<template name="hackathon">
    {{> hackathonNav}}
    {{> profile_sidebar}}
    {{> sidebar}} <!-- This is the comments sidebar -->
    {{#if dataReady}}
    <div class="container">
        {{#if isInRole 'hacker' url_title}}
            {{> showHackathons}}
        {{else}}
            <div class="row label">
                You have not joined this hackathon
            </div>
        {{/if}}
    </div>
    {{/if}}
</template>

<template name="showHackathons">
    <div class="row">
        {{> idea_filter }}
    </div>
    <div>
        {{> idea_list }} 
    </div>
</template>
