<template name="hackathonNav">
    <center>
    <h1>{{selected_hackathon.url_title}}</h1>
      <ul id="hackathon-nav">
          <li>
              <a id="find-ideas-link" href="/{{selected_hackathon.url_title}}/ideas">Ideas
              </a>
          </li>
          <li>
              <a id="find-teams-link" href="/{{selected_hackathon.url_title}}/hackers">
              Hackers
              </a>
          </li>
          <li>
              <a id="" href="/{{selected_hackathon.url_title}}/ideas/new">
              Add Idea
              </a>
          </li>
      </ul>
      </center>
</template>

<template name="hackathon">
    {{> hackathonNav}}
    {{> profile_sidebar}}
    {{> sidebar}} <!-- This is the comments sidebar -->
    <div class="container">
        {{#if isInRole 'hacker' url_title}}
            {{> showHackathons}}
        {{else}}
            <div class="row label">
                You have not joined this hackathon
            </div>
        {{/if}}
    </div>
</template>

<template name="showHackathons">
    <div class="row label">
        {{> idea_filter }}
    </div>
    <div>
        {{> idea_list }} 
    </div>
</template>