<template name="home">
            <!-- {{#if profileIncomplete}}
                <div id="incomplete-profile" class="reminder">
                    Complete your profile <div style="float:right"><i class="fa fa-arrow-circle-o-right"></i></div>
                </div>
            {{/if}} -->
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <div class="row">
                <h1>My hackathons</h1>
                {{> myHackathonList }}
            </div>
            <div class="row">
                <form action="action" id="join_hackathon">
                    <div class="form-group">
                      <div class="input-group">
                        <span class="input-group-addon">Join Hackathon by code</span>
                        <input type="text" class="form-control" id="join_hackathon_code" placeholder="invite code" value="{{invite_code}}">
                        <span class="input-group-btn">
                          <button class="btn btn-default" id="add_hackathon_button" type="submit">Join</button>
                        </span>
                      </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
                
            
</template>

<template name="myHackathonList">
    <ul id="my-hackathon-list">
        {{#each hackathons}}
            <li><a href="/{{url_title}}">{{title}}</a></li>
        {{/each}}
    </ul>
</template>