<template name="home">
            <!-- {{#if profileIncomplete}}
                <div id="incomplete-profile" class="reminder">
                    Complete your profile <div style="float:right"><i class="fa fa-arrow-circle-o-right"></i></div>
                </div>
            {{/if}} -->
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <div class="row">
                {{> myHackathonList }}
            </div>
        </div>
    </div>          
</template>

<template name="myHackathonList">
    <ul id="my-hackathon-list">
        {{#each hackathons}}
            <li><a href="/{{url_title}}">{{title}}</a></li>
        {{/each}}
    </ul>
</template>
