<template name="createIdea">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <form class="form-horizontal">
                <legend>Add an idea</legend>
                <div class="form-group">
                  <label for="textArea" class="col-lg-2 control-label">What is your idea?</label>
                  <div class="col-lg-10">
                    <textarea class="form-control" rows="3" id="textArea"></textarea>
                    <span class="help-block">Try to keep your description to the point and include the most important things your idea does.</span>
                  </div>
                </div>
                <div class="form-group">
                  <label for="inputIdeaName" class="col-lg-2 control-label">Idea name or one-liner</label>
                  <div class="col-lg-10">
                    <input type="text" class="form-control" id="inputIdeaName" placeholder="">
                  </div>
                </div>
                <div class="form-group">
                    <label class="col-lg-2 control-label">Which skills do you need?</label>
                    <div class="col-lg-10">
                        <div class="checkbox">
                          <label>
                            <input type="checkbox"> Designer
                          </label>
                        </div>
                        <div class="checkbox">
                          <label>
                            <input type="checkbox"> Frontend
                          </label>
                        </div>
                        <div class="checkbox">
                          <label>
                            <input type="checkbox"> Backend
                          </label>
                        </div>
                        <div class="checkbox">
                          <label>
                            <input type="checkbox"> iOS
                          </label>
                        </div>
                        <div class="checkbox">
                          <label>
                            <input type="checkbox"> Android
                          </label>
                        </div>
                        <div class="checkbox">
                          <label>
                            <input type="checkbox"> Hardware
                          </label>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-lg-10 col-lg-offset-2">
                        <button type="submit" class="btn btn-primary">Add Idea</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</template>

<template name="idea_filter">
    <div class="filters">
        {{#each filters}}
        <div class="filter {{selected}}">
            <span class="filter_text">{{filter_text}} <span class="count">({{count}})</span> </span>
        </div>
        {{/each}}
    </div>
</template>