<template name="idea_filter">
    <ul class="filters" id="idea-filter">
        {{#each filters}}
        <li class="filter {{selected}}">
            <a href=""><span class="filter_text">{{filter_text}} <span class="count">({{count}})</span></span></a>
        </li>
        {{/each}}
    </ul>
</template>

<template name="ideaPage">
{{#if dataReady}}
    <div class="row">
        <div class="col-md-8 col-md-offset-2 idea-post-full">
            <div class="sidebar-item-author">
                posted by 
                {{#if idea.user_profile.avatar_url}}
                <a href="/profile/{{idea.user_profile.login}}" style="margin-left:10px"><img src="{{idea.user_profile.avatar_url}}" width="32px" height="32px" style="border-radius:50px;margin-top:-5px"></a>
                {{/if}}
                <a href="/profile/{{idea.user_profile.login}}">{{idea.user_profile.name}}</a>
                {{toMoment time}}
            </div>
            <div class="sidebar-item-title"><h1>{{idea.name}}</h1></div>
            <div class="sidebar-item-desc">{{idea.description}}</div>
            {{#if anyTrue idea.skills}}
                <div class="sidebar-item-skills">
                    <span class="sidebar-prompt">Looking for people with </span>
                    {{#if idea.skills.frontend}}
                    <span class="badge t1">Frontend</span>
                    {{/if}}
                    {{#if idea.skills.design}}
                    <span class="badge t2">Design</span>
                    {{/if}}
                    {{#if idea.skills.backend}}
                    <span class="badge t3">Backend</span>
                    {{/if}}
                    {{#if idea.skills.hardware}}
                    <span class="badge t4">Hardware</span>
                    {{/if}}
                    {{#if idea.skills.ios}}
                    <span class="badge t5">iOS</span>
                    {{/if}}
                    {{#if idea.skills.android}}
                    <span class="badge t6">Android</span>
                    {{/if}}
                    <span class="sidebar-prompt"> skills</span>  
               </div>
            {{/if}}
            <br/>
            <div class="sidebar-interested">
                <i class="ion ion-heart pointer {{#if idea.hearted}}hearted{{/if}}" id="heart-idea-toggle"></i>

            {{#if heartsExist}} 
                {{#each idea.hearts}} <!-- this throws errors on old hackathons as hearts is a # not an array -->
                <a href="/profile/{{.}}">{{.}}</a>
                {{/each}}
            {{/if}}
            </div>
            <div class="sidebar-item-comments">
                <form id="comment-create" action="action" autocomplete="off">
                    <input id="comment-text" type="text" placeholder="Discuss here">
                    <input type="submit" value="Post">
                </form>
                <div class="sidebar-item-comments-thread">
                    {{#each reverse idea.commentThread}}    
                        {{> comment_template }}
                    {{/each}}
                </div>
            </div>
        </div>
    </div>
{{else}}
    {{> loading}}
{{/if}}

</template>

<template name="idea_list">
    {{#each ideas}}    
        {{> ideaRow }}
    {{/each}}
</template>

<template name="ideas">
    {{> hackathon_nav }}
    {{> idea_list }}
</template>

<template name="ideaRow">
    <ul class="row item idea-list cf">
        <li data-id="{{_id}}" class="item-action item-heart">
            <i class="ion-heart icon-star {{#if hearted}}hearted{{/if}}"></i>
            <span class="item-hearts">{{len hearts}}</span>
        </li>
        <li data-id="{{_id}}" class="item-text">
        	<span class="item-title">{{name}}</span>
        	<span class="item-desc">{{shorten description 250}}</span>
        	<br/>
            <span class="item-skills">
                <span class="skill_tag">Looking for:</span>
        	    {{#if skills.frontend}}
                <span class="badge t1">Frontend</span>
                {{/if}}
                {{#if skills.design}}
                <span class="badge t2">Design</span>
                {{/if}}
                {{#if skills.backend}}
                <span class="badge t3">Backend</span>
                {{/if}}
                {{#if skills.hardware}}
                <span class="badge t4">Hardware</span>
                {{/if}}
                {{#if skills.ios}}
                <span class="badge t5">iOS</span>
                {{/if}}
                {{#if skills.android}}
                <span class="badge t6">Android</span>
                {{/if}}
        	</span>
            <span class="item-comments">
            {{#if positive commentCount}}
                {{commentCount}}
                <i class="fa fa-comment"></i>
            {{/if}}
            </span>
        </li>
        <li class="item-icon" style="float:right;">
            {{#if user_profile.avatar_url}}
            <a href="/profile/{{user_profile.login}}"><img src="{{user_profile.avatar_url}}" width="64px" height="64px" style="border-radius:50px"></a>
            {{else}}
            <img src="monkey.png" width="64px" height="64px" style="border-radius:50px;">
            {{/if}}
        </li>
    </ul>
</template>
