<template name="messagesLeftbar">
	<ul id="messages-users">
		{{#each conversations}}
			<li class="conversation-tab {{#if isSelected}}selected{{/if}}">
				<div class="conversation-tab-inner">
					<img class="conversation-tab-image" src="{{convoPartner.profile.avatar_url}}">
					<b class="conversation-tab-username">{{convoPartner.profile.name}} ({{convoPartner.profile.login}})</b>
				</div>
			</li>
		{{/each}}
	</ul>
</template>

<template name="messages">
	<div class="container">
		<div class="row" id="messages-container">
			<div class="col-md-4" id="messages-left-container">
				<div id="messages-user-search">
					<input type="search" placeholder="Search people" class="form-control typeahead" id="messages-search" autocomplete="off" spellcheck="off" data-source="allUsers" data-select="searchElSelected">
				</div>
				{{#if dataReady}}
					{{> messagesLeftbar}}
				{{/if}}
			</div>
			<div class="col-md-8">
				<div class="row" id="messages-container-right">
					{{#if dataReady}}
						{{#if selectedConversation}}
						<div class="col-md-12">
							<h1><a href="/profile/{{selectedConversation.convoPartner.profile.login}}">{{selectedConversation.convoPartner.profile.name}} ({{selectedConversation.convoPartner.profile.login}})</a></h1>
							<ul id="messages-thread-container">
								{{#each addFieldToRay selectedConversation.messages selectedConversation.isUser1 "isUser1"}}
									<li class="message-thread-message {{#if equals isUser1 from}}sent-by-me{{/if}}">
										{{#if equals isUser1 from}}
											You:
										{{/if}}
										<b>{{text}}</b>
										<br/><i>{{toMoment timestamp}}</i>
									</li>
								{{/each}}
							</ul>
						</div>
						{{/if}}
					{{/if}}
				</div>
				<div class="row">
					<div class="col-md-12">
						<input type="text" class="form-control" placeholder="Write message and press enter" id="messages-write">
					</div>
				</div>
			</div>
		</div>
	</div>
</template>