<template name="profile">
  <div id="profile">
    {{#if has_github_profile }}
        {{> profile_contents }}
    {{else}}
      <div class="loading-profile">
        <h3>Profile loading</h3>
      </div>
    {{/if}}
  </div>
</template>
<template name="profile_contents">
  <div class="row">
    <div class="col-md-3">
      <div id="picture">
        <img src="{{avatar_url}}" height="200px" width="200px" />
      </div>
      <div id="contact">
        {{#if github }}
          <a href="{{github_url}}"><i class="fa fa-github"></i> Github</a>
        {{/if}}
        &nbsp;&nbsp;&nbsp;
        {{#if contact }}
            <a href="mailto:{{contact}}"><i class="fa fa-paper-plane-o"></i> Email</a>
        {{/if}}
        {{#if location }}
          <br/>
          <i class="fa fa-map-marker"></i>
          {{location}}
        {{/if}}
      </div>
    </div>
    <div class="col-md-9" id="profile-bio">
      <h3 class="title">
          {{#if name}}
            {{name}}
          {{else}}
            {{github}}
          {{/if}}
        </h3>
      {{bio}}
     <!--  <p>
      <div class="profile-skills">
        {{#if skills }}
          {{#each bitmaparray skills}}
            <span class="badge {{.}}">{{.}}</span> 
          {{/each}}
        {{/if}}
      </div>
      </p> -->
    </div>
  </div>
  <div class="row languages">
    <div class="col-md-12">
      {{#if languages }}
        {{languages}}
      {{/if}}
    </div>
  </div>
  
  <div class="row">
    <div class="col-md-6">
      <h3 class="title">Projects</h3>
      {{#each featured}}
        <a href="{{html_url}}">{{stargazers_count}} <i class="fa fa-star"></i> <span class="feature-title"><b>{{getName .}}</b></span>{{#if description}} - <span>{{description}}</span>{{/if}}
        </a><br/>   
      {{/each}}
    </div>
    <div class="col-md-6">
      <h3 class="title">Collaborators</h3>
      {{#each sortandarrayify collaborators}}
        <span class="collaborator">
        <a href="{{f_html_url}}"><img src="{{f_avatar_url}}" class="mini-avatar"><span class="feature-title"><b>{{f_login}}</b></span>
        </a></span>
      {{/each}}
    </div>
  </div>
  <!-- <div class="row">
    <div class="col-md-12">
      <h3 class="title">Activity</h3>
      {{#each myIdeas}}
        <div>
        <span>
          <i class="fa fa-plus"></i>
          <b> {{name}}</b>
          {{description}}
          </span>
        </div>
      {{/each}}
    </div>
  </div> -->
  <div class="row hackathons">
    <div class="col-md-12">
      {{#each arrayify hackathons}}
        <img class="hackathon-badge" title="{{this}}" src="/badges/{{this}}.png">
      {{/each}}
    </div>
  </div>
  <script type="text/javascript">
    $("img").error(function () {
      $(this).unbind("error").remove();
    });
  </script>
</template>