<template name="settings">
    {{#if dataReady}}
    <div class="row">
        <div class="col-md-6">
            <form id="update-user-form" action="action" class="form-horizontal">
                <div class="form-group">
                    <label for="user-name" class="col-lg-2 control-label">Name</label>
                    <div class="col-lg-10">
                        <input type="text" class="form-control" name="user-name"  value="{{name}}">
                    </div>
                </div>
                <div class="form-group">
                    <label for="user-contact" class="col-lg-2 control-label">Email</label>
                    <div class="col-lg-10">
                        <input type="email" class="form-control" name="user-email"  value="{{contact}}">
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-lg-10 col-lg-offset-2">
                        <div class="checkbox">
                          <label>
                            <input type="checkbox" name="user-email-notifications" {{isChecked email_notifications}}> Get email notifications
                          </label>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-lg-2 control-label">Skills</label>
                    <div class="col-lg-5">
                        <div class="checkbox">
                          <label>
                            <input type="checkbox" name="user-skill-design" {{isChecked skill.design}}> Designer
                          </label>
                        </div>
                        <div class="checkbox">
                          <label>
                            <input type="checkbox" name="user-skill-frontend" {{isChecked skill.frontend}}> Frontend
                          </label>
                        </div>
                        <div class="checkbox">
                          <label>
                            <input type="checkbox" name="user-skill-backend" {{isChecked skill.backend}}> Backend
                          </label>
                        </div>
                    </div>
                    <div class="col-lg-5">
                        <div class="checkbox">
                          <label>
                            <input type="checkbox" name="user-skill-ios" {{isChecked skill.ios}}> iOS
                          </label>
                        </div>
                        <div class="checkbox">
                          <label>
                            <input type="checkbox" name="user-skill-android" {{isChecked skill.android}}> Android
                          </label>
                        </div>
                        <div class="checkbox">
                          <label>
                            <input type="checkbox" name="user-skill-hardware" {{isChecked skill.hardware}}> Hardware
                          </label>
                        </div>
                    </div>
                    {{skills}}
                </div>
                <div class="form-group">
                    <label for="user_github" class="col-lg-2 control-label">Github Username</label>
                    <div class="col-lg-10">
                        <input type="text" class="form-control" name="user-github"  value="{{github}}" disabled>
                    </div>
                </div>
                <div class="form-group">
                    <label for="user_description" class="col-lg-2 control-label">About you</label>
                    <div class="col-lg-10">
                        <textarea class="form-control" maxlength="200" spellcheck="false" style="resize:vertical" rows="4" name="user-description" value="{{description}}"></textarea>
                        <span class="help-block">Don't know what to say? Talk about things you have tried or want to build.</span>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-lg-2 control-label">Specializations</label>
                    <div class="specializations col-lg-10">
                        {{#each addIndex languages}}
                        <div class="form-group specialization">
                          <div class="input-group">
                            <input type="text" name="user-specialization-{{index}}" class="form-control language" value="{{value}}">
                            <span class="input-group-btn">
                              <button class="btn btn-default outline delete-language" type="button">x</button>
                            </span>
                          </div>
                        </div>
                        {{/each}}
                        <span class="">
                          <button class="btn btn-default outline pull-right add-language" type="button">+ Add</button>
                        </span>
                    </div> 
                </div>
                <div class="form-group">
                    <div class="col-lg-10 col-lg-offset-2">
                        {{#if status}}
                        <button type="submit" class="btn btn-primary outline {{status}}">{{statusMessage}}</button>
                        {{else}}
                        <button type="submit" class="btn btn-primary outline">Save Changes</button>
                        {{/if}}
                    </div>
                </div>
            </form>
        </div>
        <div class="col-md-6">  
            <form id="manage-hackathon" class="form-horizontal">
                <legend>My Hackathons</legend>
                <div class="form-group">
                    <label for="user_description" class="col-lg-2 control-label">Join by invite code</label>
                    <div class="col-lg-10">
                        <div class="input-group">
                          <input type="text" class="form-control" placeholder="invite code" name="join-code">
                          <span class="input-group-btn">
                            <button class="btn btn-default outline" id="add_hackathon_button" type="submit">Join</button>
                          </span>
                        </div>
                    </div>  
                </div>
                <div class="form-group">
                    <label class="col-lg-2 control-label">My hackathons</label>
                    <div class="col-lg-10">
                        {{#each hackathons}}
                          <div class="input-group">
                            <input type="text" class="form-control" value="{{title}}" disabled>
                            <span class="input-group-btn">
                              <button class="btn btn-default outline leave-hackathon" type="button">Leave</button>
                            </span>
                          </div>
                          <br>
                        {{/each}}
                        {{#each myAdminHackathons}}
                          <div class="input-group">
                            <input type="text" class="form-control" value="{{title}}" disabled>
                            <span class="input-group-btn">
                              <button class="btn btn-default outline" type="button"><a href="/{{url_title}}/admin">Admin Panel</a></button>
                            </span>
                          </div>
                          <br>
                        {{/each}}
                    </div> 
                </div>
            </form>
        </div>
    </div>
    {{else}}
        {{> loading}}
    {{/if}}
</template>
