<template name="people">
	{{> sidebar}}
	<div id="pt-main" class="">
	    <div class="view pt-page-1">
	        <div class="inner-view page-container">
	            {{#if isInRole 'hacker' url_title}}
	                {{> showpersons}}
	            {{else}}
	                <div class="row label">
	                    You have not joined this hackathon
	                </div>
	            {{/if}}
	        </div>
	    </div>
	</div>
</template>

<template name="person_list">
    <div class="row">
    {{#each people}}  
        {{> personRow }}
    {{/each}}
    </div>
</template>

<template name="personRow">
    <div class="col-xs-6 col-sm-4 col-md-3">
        <ul class="person-card" data-id="{{profile.login}}">
            <li class="person-card-icon">
                {{#if profile.avatar_url}}
                <a href="/profile/{{profile.login}}"><img src="{{profile.avatar_url}}"></a>
                {{else}}
                <a href="/profile/{{profile.login}}"><img src="monkey.png" style="border-radius:50px;"></a>
                {{/if}}
            </li>
            <li data-id="{{_id}}" class="person-card-text">
            	<span class="person-card-title"><a href="/profile/{{profile.login}}">
                {{#if profile.name}}
                {{profile.name}}
                {{else}}
                {{profile.login}}
                {{/if}}
                </a>
                </span>
                <span class="person-card-desc">
                {{shorten profile.bio 70}}
                </span>
                <span class="person-card-skills">
                    <span class="skill_tag"></span>
            	    {{#if profile.skills.frontend}}
                    <span class="badge t1">Frontend</span>
                    {{/if}}
                    {{#if profile.skills.design}}
                    <span class="badge t2">Design</span>
                    {{/if}}
                    {{#if profile.skills.backend}}
                    <span class="badge t3">Backend</span>
                    {{/if}}
                    {{#if profile.skills.hardware}}
                    <span class="badge t4">Hardware</span>
                    {{/if}}
                    {{#if profile.skills.ios}}
                    <span class="badge t5">iOS</span>
                    {{/if}}
                    {{#if profile.skills.android}}
                    <span class="badge t5">Android</span>
                    {{/if}}
            	</span>
                <span class="langs person-card-skills">
                    {{#each profile.languages}}
                    {{.}},
                    {{/each}}
                </span>
            </li>
        </ul>
    </div>
</template>

<template name="person_filter">
    <ul class="filters" id="skill-filter">
        {{#each filters}}
        <li class="filter {{selected}}">
            <span class="filter_text">{{name}}</span>
        </li>
        {{/each}}
    </ul>
</template>

<template name="showpersons">
    <div class="row label">
        {{> person_filter}}
    </div>
    <div>
        {{> person_list}} 
    </div>
</template>
